.compdet{
	width:100%;
}
.headdd{
	font-size:1.3em;
	font-weight:700;
	position: relative;
	top:-7px;
	cursor:pointer;
}
.compdet1{
	width:100%;
	position:relative;
	/*top:40px;*/
}
.compdet11{
	width:100%;
	margin: 0 auto;
	text-align: center;
	height:170px;
	background-color:#00bbfb;
}
.compdet1111{
	width:100%;
	height:40px;
	line-height:40px;
	margin: 0 auto;
    text-align: center;
	color:#FFF;
	padding: 0 0 0 13%;
}
.compdet1112{
	width:50px;
	/*width: 50%;*/
	height: 24px;
	line-height: 24px;
	text-align:center;
	margin-top: 8px;
	margin-left: 3%;
	background-color: #2ac6fb;
	float: left;
	border-radius: 5px;
}
.compdet112{
	width:100%;
	height:40px;
	text-align:center;
}
.compdet112 img{
	margin-top:10px;
	background-size: 30% 30%;
}
.compdet113{
	width:70px;
	height:34px;
	line-height:34px;
	text-align:center;
	border-radius:5px;
	background-color:#fff600;
	margin:6px auto;
	color:#bca300;
}
.compdet113 a{
	color:#bca300;
}
.compdet114{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#FFF;
}
.compdet12{
	width:100%;
	height:90px;
	background-color:#05a5df;
}
.compdet121{
	width:100%;
	height:60px;
	position:relative;
	top:15px;
}
.compdet1211{
	width:33%;
	height:60px;
	float:left;
	color:#FFF;
	text-align: center;
}
.compdet12111{
	width:100%;
	height:30px;
	line-height:30px;
}
.compdet12112{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:1.1em;
}
.compdet13{
	width:100%;
	height:40px;
	line-height: 40px;
	border-bottom:1px solid #ccc;
	background-color:#FFF;
	cursor: pointer;
}
.compdet131{
	width:100%;
	height:40px;
	line-height: 40px;
	padding: 0 0 0 4%;
}
.compdet1311{
	float: left;
	margin-right:10px;
}
.compdet1311 img{
	width: 14px;
	height: 17px;
	display: inline-block;
}
.compdet1312{
	float: left;
	width:78%;
	height:40px;
	line-height: 40px;
	overflow: hidden;
	color:#777;
}
.compdet1313{
	float: left;
	text-align: right;
	font-size:1.5em;
	color:#ccc;
	margin: 0 0 0 10%;
}
.compdet1313 img{
	width: 7px; 
	height: 13px; 
	display: inline-block;
}
.compdet14{
	width:100%;
	/*height:304px;*/
	border-top:1px solid #ccc;
	margin-top:15px;
	background-color:#FFF;
	/*margin-bottom:20px;*/
}
.compdet141{
	width:100%;
	height:100px;
	border-bottom:1px solid #ccc;
}
.compdet1411{
	width:24.7%;
	
	height:100px;
	float:left;
	cursor: pointer;
}
.compdet14111{
	width:100%;
	height:60px;
	text-align: center;
}
.compdet14111 img{
	width:60px;
	height:60px;
	margin-top:5px;
}
.compdet14112{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#ccc;
}
.cpdl{
	width:100px;
	height:135px;
	position:absolute;
	top:40px;
	right:10px;
	z-index:99;
}
.cpdl1{
	width:100%;
	height:10px;
}
.cpdl1 img{
	width:24px;
	height:10px;
	margin-left:60px;
	position:relative;
	top:-5px;

}
.cpdl2{
	width:100%;
	height:84px;
	background-color:#666;
	border-radius:5px;
	color:#ccc;
}
.cpdl21{
	width:100%;
	height:40px;

}
.cpdl211{
	width:80px;
	height:40px;
	margin-left:10px;
	cursor:pointer;
}
.cpdl2111{
	width:30px;
	height:30px;
	margin-top:5px;
	float:left;
}
.cpdl2112{
	width:50px;
	height:30px;
	line-height:30px;
	margin-top:5px;
	float:left;
	text-align: center;
}
.cpdl2111 img{
	width:12px;
	margin-top:5px;
	margin-left:10px;
}

.fenxiang{
	width:100%;
	height:150px;
	position:absolute;
	/*left:0;
	bottom:0;*/
	z-index:99;
	text-align: center;
}
.fenxiang1{
	width:100%;
	height:120px;
	background-color:#FFF;
}
.fenxiang11{
	width:100%;
	height:80px;
	opacity:1;
	background-color:#dadada;
}
.fenxiang111{
	width:60px;
	height:80px;
	float:left;
	margin-left:20px;
}
.fenxiang1111{
	width:60px;
	height:60px;
	background-color:#FF00FF;
	border-radius:10px;
}
.fenxiang1111 img{
	width:100%;
	height:100%;
}
.fenxiang1112{
	width:60px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#ccc;
	font-size:0.9em;
}
.fenxiang12{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:1.1em;
	background-color:#FFF;
}
.h15{
	height:15px;
	background-color:#dadada;
}
.dianhua{
	width:100%;
	height:120px;
	position:absolute;
	/*bottom:0;
	left:0;*/
	background-color:#FFF;
	z-index:999;
}
.dianhua1{
	width:100%;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-size:1.2em;
}
.cb{
	color:#0099cc;
}


/*纠错*/
.compdet2{
	/*width:90%;
	margin-left:5%;*/
	width: 100%;
	padding: 0 4.6%;
	position:relative;
	/*top:40px;*/
	background: #fff;
}
.compdet21{
	width:100%;
	height:40px;
	line-height:40px;
	color:#3c3c3c;
	font-size:1.1em;
}
.compdet22{
	width:100%;
	padding: 0 1.4%;
}
.compdet221{
	width:29%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:3px;
	border:1px solid #00bbfb;
	color:#666;
	float:left;
	margin-bottom:10px;
}
.compdetcur{
    width:29%;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:3px;
	background-color:#00bbfb;
	color:#fff;
	float:left;
	margin-bottom:10px;  
}
.mgrb2{
	margin-right:4%;
}
.compdet23{
	width:100%;
	height:140px;
	text-indent:none;
	border:1px solid #ccc;
	border-radius:3px;
	color:#ccc;
}
.compdet23 textarea{
	display: block;
	width: 100%;
	height: 138px;
	padding: 2% 3%;
	border-radius:3px;
}
.compdet24{
	width:100%;
	height:40px;
	line-height:40px;
	border-radius:3px;
	border:1px solid #ccc;
	color:#3c3c3c;
	margin-top:15px;
}
.compdet24 input{
	display: block;
	width: 100%;
	height: 38px;
	padding: 2% 3%;
	border-radius:3px;
	color:#3c3c3c;
}
.compdet25 input{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#0099cc;
	color:#FFF;
	margin-top:15px;
	border-radius:3px;
	font-family: "微软雅黑";
	font-size: 15px;
}
.compdet25 input{

}