
/*此css关系多个页面，谨慎更改*/
a{
	color: #fff;
}


.investa{
	width:100%;
	height:auto;
}
.investa1{
	width:100%;
	/*margin-left:5%;*/
	position:relative;
	/*top:40px;*/
}
.investa11{
	width:100%;
	padding: 0 4.6%;
	background: #fff;
	color: #a0a0a0;
	border-bottom: #f2f3f4 1px solid;
}
.investa111{
	width:100%;
	line-height:30px;
	font-size:1.1em;
	color: #3c3c3c;
	padding-top: 10px;

}
.investa112{
	width:100%;
	height:30px;
	line-height:30px;

}
.investa113{
	width:100%;
	height: 10px;
}
.investa1121{
	width:13px;
	height:15px;
	margin-top:7.5px;
	background-image: url("../images/company_list@3x.png");
	background-size: 100% 100%;
}
.investa1122{
	/*width:50%;*/
	height:30px;
	line-height:30px;
	/*text-indent: 10px;*/
	overflow:hidden;
}
.investa1123{
	width:40%;
	height:30px;
	line-height:30px;
	text-align: right;
}
.investa1123 img{
	width:7px;
	height:13px;
	display: inline-block;
	margin: 10px 0 0 0;
}
.fwb{
	font-weight:700;
}
.corpp1{
	line-height:60px;
	color:#666;
}
.investa1 .p2{
	color:#3c3c3c;
	line-height: 200%;
}
.investa1 p{
	font-size:1.1em;
	padding: 10px 0;
}
.bgf{
	background-image: url("../images/file@3x.png");
}
.bgt{
	background-image: url("../images/clock@3x.png");

}
/*诉讼信息详情*/
.liti{
	width:100%;
	position: relative;
	/*top:40px;*/
}
.liti1{
	width:100%;
	height:80px;
	border-bottom:1px solid #ccc;
	background-color:#FFF;
}
.liti11{
	width:90%;
	margin-left:5%;
}
.liti111{
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	color:#ccc;
}
.liti112{
	width:100%;
	height:40px;
	line-height:40px;
	color:#777;
	font-size:1.1em;
}
.liti2{
	width:100%;
	height:15px;
}
/*主要成员css*/
.leadmem{
	width:100%;
	background: #fff;
	padding: 0 4.6%;
}
.leadmem1{
	width:100%;
	height:15px;
}
.leadmem2{
	width:100%;
	height:80px;
}
.leadmem21{
	width:80px;
	height:80px;
	border-radius:60px;
	float:left;
	margin: 0 4% 0 0;
	overflow:hidden;
}
.leadmem21 img{
	width:100%;
	height:100%;
}
.leadmem22{
	width:68%;
	height:60px;
	float:left;
	color: #3c3c3c;
	/*margin-top:20px;*/
}
.leadmem221{
	width:100%;
	/*height:20px;
	line-height:250%;*/
	margin: 15px 0 10px 0;
	font-size: 16px;
}
.leadmem3{
	width:100%;
	height:15px;
	border-bottom: #dbdbdb 1px solid;
}
/*行业分析*/
.indana{
	width:100%;
	position:relative;
	top:40px;
}
.indana1{
	width:90%;
	margin-left:5%;
}
.indana11{
	width:100%;
	height:40px;
	position:relative;
}
.indana111{
	width:70%;
	height:40px;
	line-height:40px;
	color:orange;
	font-size:1.1em;
	float:left;
}
.indana112{
	width:30%;
	float:left;
	height:40px;
	text-align: right
}
.indana112 img{
	width:20px;
	height:14px;
	margin-top:13px;
}
.indana12{
	width:100%;
	height:20px;
}
.indana13{
	width:100%;
	height:30px;
	line-height:30px;
	color:#777;
	font-size:1.1em;
}
.indana14{
	width:100%;
	height:500px;

}
.zzc{
	width:100%;
	height:700px;
	background-color:gray;
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	opacity: 0.6;
}
.indanalist{
	width:200px;
	height:200px;
	border-radius:10px;
	background-color:#FFF;
	position:absolute;
	z-index:99;
	top:40px;
	right:10px;
}
.indanalist1{
	width:100%;
	height:40px;

}
.indanalist11{
	width:80%;
	height:40px;
	line-height:40px;
	float:left;
	color:#777;
	text-indent:10px;
	font-size:1.1em;
}
.indanalist12{
	width:15%;
	margin-right:4%;
	height:40px;
	line-height:40px;
	float:left;
	text-align: right;
	font-size:1.4em;
	color:#ccc;
}
.nbbg{
	background-image: url("../images/company@3x.png");
}
