<style media="screen">
    .susong .investa112 img{
        width: 15px;
    }
</style>
<div class="investa">
    <div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">诉讼信息</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="investa1 susong">
        <div ng-repeat="litinfod in litinfod.rows">
            <a ng-href="/litiinfod?id={{litinfod.id}}">
                <div class="investa11">
                    <div class="investa111"></div>
                    <div class="investa112">
                        <h4 style="color: #000;">&nbsp;&nbsp;{{litinfod.court}}</h4>
                    </div>
                    <div class="investa112">
                        <div class="investa1122 fl"><img src="/images/qiyehao@3x.png">{{litinfod.caseNo}}</div>
                        <div class="investa1123 fr"><span class="yjj">></span></div>
                    </div>
                    <div class="investa112">
                        <div class="investa1122 fl"><img src="/images/clock@3x.png">&nbsp;&nbsp;{{litinfod.registrineTime}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
