<div class="investa">
	<div class="header">
		诉讼信息
		<div class="leftjj"><</div>
		<div class="rightwz"></div>
	</div>
	<div class="investa1">
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl bgf"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12">></div>
			</div>
			<div class="investa112">
				<div class="investa1121 fl bgt"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12"></div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl bgf"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12">></div>
			</div>
			<div class="investa112">
				<div class="investa1121 fl bgt"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12"></div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl bgf"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12">></div>
			</div>
			<div class="investa112">
				<div class="investa1121 fl bgt"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12"></div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl bgf"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12">></div>
			</div>
			<div class="investa112">
				<div class="investa1121 fl bgt"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr fz12"></div>
			</div>
			<div class="investa113"></div>
		</div>
	</div>
</div>
