<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../css/index.css" />
  
 </head>

<body style="background-color:lightgray">

  <div class="index">

        <div class="index1">
            企信宝
            <div class="index11"></div>
        </div>

        <div class="index2">
            <div class="index21">
                <div class="index211">
                    <div class="index2111">企业数据更新中...</div>
                    <div class="index2112">
                        <div class="index21121">6</div><div class="index21121">3</div><div class="index21121 index21122">,</div><div class="index21121">1</div><div class="index21121">3</div>
                        <div class="index21121">5</div><div class="index21121 index21122">,</div><div class="index21121">5</div><div class="index21121">3</div><div class="index21121">9</div>
                    </div>
                    <div class="index2113">
                    
                        <img class="index21131" src="../../images/Oval 81 + Line@3x.png"/><input type="text" class="index21132" value="请输入公司名和注册号"/>
                    </div>
                </div>
            </div>
            <div class="index22">
                <div class="index221">
                    <div class="index2211">
                        <div class="index22111"><div class="index221111 ib1"></div><div class="index221112">查法人/股东</div></div>
                        <div class="index22111 ml5"><div class="index221111 ib2"></div><div class="index221112">查失信</div></div>
                        <div class="index22111 ml5"><div class="index221111 ib3"></div><div class="index221112">高级查询</div></div>
                    </div>
                </div>
                <div class="index23">
                    <div class="index231">
                        <div class="index2311">我的关注<div class="index23111">&gt;</div></div>
                        <div class="index2312">
                            <div class="index23121">香港强悍科技</div>
                            <div class="index23122">
                                <div class="index231221"><div class="index2312211"><img src="../../images/member@3x.png"></div><div class="index2312212">公司法人：尹志平</div></div><div class="index231222">在营（开业）企业</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index23">
                    <div class="index231">
                        <div class="index2311">热门企业<div class="index23111">&gt;</div></div>
                        <div class="index2312">
                            <div class="index23121">北京巨星世纪信息科技有限公司</div>
                            <div class="index23122">
                                <div class="index231221"><div class="index231223"><img src="../../images/starjudge.png"></div></div><div class="index231222"><span class="co">20</span>人关注</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index23">
                    <div class="index231">
                        <div class="index2311">我的关注<div class="index23111">&gt;</div></div>
                        <div class="index2312">
                            <div class="index23123">
                                <div class="index231231"><div class="index2312311">1月</div><div class="index2312312">2015年</div></div>
                                <div class="index231232">电商浮躁，失业率大揭秘</div>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

  </div>

</body>


  </html>