<div class="index">
        <div class="index_top">
            <div class="index_topde">
                <div class="index_topdelf">

                    <a href="/system_info"><img src="/images/message.png" width="30px"></a>
                </div>
                <div class="index_topdecon">
                    <label><img src="/images/fangdajing.png" height="24px"></label>
                    <input placeholder="请输入公司名和注册号" type="text"/>
                    <div class="clear"></div>
                </div>
                <div class="index_topderg">
                <a href="/mycenter_home">
                    <img src="/images/xiaoren.png" width="30px">
                </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Dataupdate">
                <div class="Dataupdate_top">企业数据更新中...</div>
                <div class="Dataupdate_con">

                    <div class="index21121">6</div><div class="index21121">3</div><div class="index21121 index21122">,</div><div class="index21121">1</div><div class="index21121">3</div>
                    <div class="index21121">5</div><div class="index21121 index21122">,</div><div class="index21121">5</div><div class="index21121">3</div><div class="index21121">9</div>
<!--                    <span id="abc">123</span>-->
                </div>
            </div>
        </div>
        <div class="index_search">
        <a href="">
            <div class="index_searchlf" onclick="document.location='/search_people'">
            
                <p><img src="/images/farengudong.png" width="28" /></p>
                <p>查法人<br />股东</p>
                <div class="clear"></div>
          
            </div>
        </a>
        <a href="/shixin_details">
            <div class="index_searchcon">
                <p><img src="/images/lose_letter.png" width="28" /></p>
                <p style="padding-top:6px;">查失信</p>
                 <div class="clear"></div>
            </div>
        </a>

        <a href="/search_first">
            <div class="index_searchrg">
                <p><img src="/images/search.png" width="28" /></p>
                <p style="padding-top:6px;">高级查询</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </a>
        </div>
        <div class="index_follow">
        <a href="/myfocus">
            <div class="index_followlf">我的关注</div>
            <div class="index_followrg">></div>
            <div class="clear"></div>
        </a>
        </div>
        <div id="myfocus" onmouseover=iScrollAmount=0 style="overflow: hidden;background-color:#fff;height:80px;" onmouseout=iScrollAmount=1>
            <div class="index_followde" onclick="document.location='/myfocus'">
                <div class="index23121">香港强悍科技</div>
                <div class="index23122">
                    <div class="index231221">
                        <div class="index2312211"><img src="/images/company_list@2x.png" height="20px" /></div>
                        <div class="index2312212">公司法人：尹志平</div>
                        <div class="clear"></div>
                    </div>
                    <div class="index231222">在营（开业）企业</div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="index_followde"  onclick="document.location='/myfocus'">
                <div class="index23121">香港强悍科技2</div>
                <div class="index23122">
                    <div class="index231221">
                        <div class="index2312211"><img src="/images/company_list@2x.png" height="20px" /></div>
                        <div class="index2312212">公司法人：尹志平</div>
                        <div class="clear"></div>
                    </div>
                    <div class="index231222">在营（开业）企业</div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div> 
            <div class="clear"></div>
        </div>
        <div class="index_follow" onclick="document.location='/hot_business'">

            <div class="index_followlf">热门企业</div>
            <div class="index_followrg">></div>
            <div class="clear"></div>
        </div>
        <div id="show" style="overflow:hidden;background-color:#fff;height:80px;" onclick="document.location='/hot_business'">
            <div class="index_followde">
                <div class="index2312">
                    <div class="index23121">北京巨星世纪信息科技有限公司</div>
                    <div class="index23122">
                        <div class="index231221"><div class="index231223"><img src="../../images/starjudge.png"></div></div><div class="index231222"><span class="co">20</span>人关注</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="index_followde">
                <div class="index2312">
                    <div class="index23121">北京巨星世纪信息科技有限公司2</div>
                    <div class="index23122">
                        <div class="index231221"><div class="index231223"><img src="../../images/starjudge.png"></div></div><div class="index231222"><span class="co">20</span>人关注</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="index_follow">
        <a href="/nopromise_business">
            <div class="index_followlf">失信榜单</div>
            <div class="index_followrg">></div>
            <div class="clear"></div>
        </a>
        </div>
        <div style="overflow:hidden;background-color:#fff;height:80px;">
            <div class="index_followde" onClick="window.location.href='/nopromise_inquire'">
                <div class="index2312">
                    <div class="index23123">
                        <div class="index231231"><div class="index2312311">1月</div><div class="index2312312">2015年</div></div>
                        <div class="index231232">电商浮躁，失业率大揭秘</div>
                    </div>

                </div>
            </div>
        </div>
</div>
<!--
<script type="text/javascript">
window.onload = function() {
    // 数字到达 100 后还原为 1
    var max = 1000000,
        o = document.getElementById('abc');
        var chrome = /chrome/i.test(navigator.userAgent);
                         
    // 获取保存的数据
    if(chrome) {
        data_num = sessionStorage.getItem("num") || "";
    }
    else {
        data_num = document.cookie.replace(
        /(?:(?:^|.*;\s*)num\s*\=\s*((?:[^;](?!;))*[^;]?).*)|.*/,
        "$1");
    }
    var num_now = parseInt(data_num) || 0;
                         
    o.innerHTML = num_now + 1;
                         
    // 每 0.1 秒更新一次数字，并保存数据
    setInterval(function() {
        num_now = num_now >= max ? 1 : num_now + 1;
        o.innerHTML = num_now;
        if(chrome) {
            sessionStorage.setItem("num", num_now);
        }
        else {
            document.cookie = "num=" + num_now + ";path=/;";
        }
    }, 100);
};
</script>
-->
<script type="text/javascript">
var oMarquee = document.getElementById("myfocus"); //滚动对象 
var iLineHeight = 80; //单行高度，像素 
var iLineCount = 2; //实际行数 
var iScrollAmount = 1; //每次滚动高度，像素 
function run() { oMarquee.scrollTop += iScrollAmount; if ( oMarquee.scrollTop == iLineCount * iLineHeight ) oMarquee.scrollTop = 0; if ( oMarquee.scrollTop % iLineHeight == 0 ) { window.setTimeout( "run()", 2500 ); } else { window.setTimeout( "run()", 10 ); } } oMarquee.innerHTML += oMarquee.innerHTML; window.setTimeout( "run()", 2500 );
</script>
