<style type="text/css">
.slideBox{ width:100%;height:400px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .bd{ position:relative; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;}
</style>
<div class="index">
        <div class="index_top">
            <div class="index_topde">
                <div class="index_topdelf">

                    <a href="/system_info"><a href="/settings"><img src="../../images/shezhi@3x.png" width="30"></a></a>
                </div>
                <div class="index_topdecon">
                    <label><img src="/images/fangdajing.png" height="24px"></label>
                    <input placeholder="请输入公司名" type="text" ng-model="companyName"/>
                    <div class="clear"></div>
                </div>
                <div class="index_topderg">
                <a href="/mycenter_home">
                    <img src="/images/xiaoren.png" width="30px">
                </a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Dataupdate">
                <div class="Dataupdate_top">企业数据更新中...</div>
                <div class="Dataupdate_con animated flip" ng-show="isShowCompanyData">

                    <div class="index21121">{{companyCount[0]}}</div>
                    <div class="index21121">{{companyCount[1]}}</div>
                    <div class="index21121 index21122">,</div>
                    <div class="index21121">{{companyCount[2]}}</div>
                    <div class="index21121" id="f">{{companyCount[3]}}</div>
                    <div class="index21121" id="m">{{companyCount[4]}}</div>
                    <div class="index21121 index21122">,</div>
                    <div class="index21121" id="e">{{companyCount[5]}}</div>
                    <div class="index21121" id="y">{{companyCount[6]}}</div>
                    <div class="index21121"  id="t">{{companyCount[7]}}</div>
                    <div style="clear:both;"></div>

<!--                     <div class="numberRun2"></div> -->
                </div>
            </div>
        </div>
        <div class="index_search">
            <a href="/search_people?type=qiye">
                <div class="index_searchlf">
                    <p><img src="/images/search.png" width="28" /></p>
                    <p style="padding-top:6px;">查企业</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="/search_people?type=faren">
                <div class="index_searchcon">
                    <p><img src="/images/farengudong.png" width="28" /></p>
                    <p>查法人
                        <br />股东</p>
                    <div class="clear"></div>
                </div>
            </a>
            <a href="/search_people?type=shixin">
                <div class="index_searchrg">
                    <p><img src="/images/lose_letter.png" width="28" /></p>
                    <p style="padding-top:6px;">查失信</p>
                    <div class="clear"></div>
                </div>
            </a>
        </div>
        <div ng-show="userInfo">
            <div class="index_follow">
            <a href="/myfocus">
                <div class="index_followlf">我的关注</div>
                <div class="index_followrg">></div>
                <div class="clear"></div>
            </a>
            </div>
            <div id="slideBox" class="slideBox" style="overflow:hidden;background-color:#fff;height:80px;">
                <div class="index_followde bd" >
                    <ul>
                        <li ng-repeat="myfocus in myfocus.rows" style="height:80px;">
                            <a ng-href="/compdet?id={{myfocus.companyId}}&sts=1">
                            <div class="index23121">{{myfocus.companyName}}</div>
                            <div class="index23122">
                                <div class="index231221">
                                  <div class="index2312211"><img src="../../images/icon_3.png" style="height:15px;"></div>
                                    <div class="index2312212">公司法人：{{myfocus.repPersion}}</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="index231222">{{myfocus.recordStatus}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
       <script type="text/javascript">
//        jQuery(".slideBox").slide({mainCell:".bd ul",effect:"topLoop",autoPlay:true,delayTime:2000});
        </script>
        <a href="/hot_business">
        <div class="index_follow" >

            <div class="index_followlf">热门企业</div>
            <div class="index_followrg">></div>
            <div class="clear"></div>
        </div>
        </a>

        <div class="picMarquee-top" style="overflow:hidden;background-color:#fff;height:400px;">
            <div class="index_followde bd">
                <ul style="height:400px;">
                    <li ng-repeat="hotbusiness in hotbusiness.rows" style="height:80px;border:1px solid　#f00;">
                        <a  ng-href="/compdet?id={{hotbusiness.id}}">
                        <div class="index2312">
                            <div class="index23121">{{hotbusiness.companyName}}</div>
                            <div class="index23122">
                                <div class="index231221">
                                    <div class="index231223">
                                       <img ng-if="hotbusiness.level == 1" src="../../images/star1.png">
                                       <img ng-if="hotbusiness.level == 2" src="../../images/star1.png">
                                       <img ng-if="hotbusiness.level == 3" src="../../images/star1.png">
                                       <img ng-if="hotbusiness.level == 4" src="../../images/star1.png">
                                       <img ng-if="hotbusiness.level == 5" src="../../images/star1.png">
                                    </div>
                                 </div>
                                <div class="index231222">
                                    <span class="co">{{hotbusiness.focus}}</span>人关注
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
//		jQuery(".picMarquee-top").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:1,interTime:50});
		</script>

<!--        <div id="scroll2" style="display:none;"></div>-->

      <!--
        <div class="index_follow">
        <a href="/nopromise_business">
            <div class="index_followlf">失信榜单</div>
            <div class="index_followrg">></div>
            <div class="clear"></div>
        </a>
        </div>
        <div style="overflow:hidden;background-color:#fff;height:80px;">
            <div class="index_followde" onClick="window.location.href='/nopromise_inquire'">
                <div class="index2312">
                    <div class="index23123">
                        <div class="index231231"><div class="index2312311">1月</div><div class="index2312312">2015年</div></div>
                        <div class="index231232">电商浮躁，失业率大揭秘</div>
                    </div>

                </div>
            </div>
        </div>
 -->



</div>
