<div class="compdet">
	<div class="cpdl" style="display:none">
		<div class="cpdl1"><img src="../../../images/jiantou@3x.png"></div>
		<div class="cpdl2">
<!--			<a href="/settings" ></a>-->
				<div class="cpdl21 prt5" ng-click="recommend()">
					<div class="cpdl211">
						<div class="cpdl2111"><img src="../../../images/share2@3x.png"></div>
						<div class="cpdl2112 fxbtn">分享</div>
					</div>
				</div>
			
			<!-- <div class="cpdl21">
				<div class="cpdl211"><div class="cpdl2111"><img src="../../../images/phone@3x.png"></div><div class="cpdl2112 dhbtn">电话</div></div>
			</div> -->
			<a href="/errorcorrect">
				<div class="cpdl21">
					<div class="cpdl211 bdn">
						<div class="cpdl2111"><img src="../../../images/change@3x.png"></div>
						<div class="cpdl2112 jcbtn">纠错</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="compdet1">
	<div class="mycenter_header1">
		<ul>
			<li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
			<li class="li_2">{{compdet.companyName}}</li>
			<li class="li_3"><span class="headdd">...</span></li>
			<br style="clear: both;" />
		</ul>
	</div>
	<div class="compdet11">
		<div class="compdet111">
			<div class="compdet1111">更新：2016-03-11</div>
			<!-- <div class="compdet1112">{{compdet.managementStatus}}</div> -->
		</div>
		<div class="compdet112">
			<img ng-if="!compdet.level" src="/images/star0.png" height="14">
			<img ng-if="compdet.level == 1" src="/images/star1.png" height="14">
			<img ng-if="compdet.level == 2" src="/images/star2.png" height="14">
			<img ng-if="compdet.level == 3" src="/images/star3.png" height="14">
			<img ng-if="compdet.level == 4" src="/images/star4.png" height="14">
			<img ng-if="compdet.level == 5" src="/images/star5.png" height="14">
		</div>
		<div class="compdet113" ng-if="0 == compdet.sts">
			<a href="#" ng-click="addMyAttention()">关注</a>
		</div>
		<div class="compdet113" ng-if="1 == compdet.sts">
			<a href="#" ng-click="removeMyAttention()">取消关注</a>
		</div>
		<div class="compdet114">
			浏览：{{compdet.browseCount}}<span class="mgl10">关注：{{compdet.focus | myNum}}</span>
		</div>
	</div>
	<div class="compdet12">
		<div class="compdet121">
			<div class="compdet1211 bdrw">
				<div class="compdet12111">法定代表人</div>
				<div class="compdet12112">{{compdet.legalRepPersion}}</div>
			</div>
			<div class="compdet1211 bdrw">
				<div class="compdet12111">注册资金</div>
				<div class="compdet12112">{{compdet.registCapital}}万元</div>
			</div>
			<div class="compdet1211">
				<div class="compdet12111">成立日期</div>
				<div class="compdet12112">{{compdet.companyCreatTime}}</div>
			</div>
		</div>
	</div>
	<div class="compdet13">
		<div class="compdet131">
			<a ng-href="/amap?longitude={{compdet.longitude}}&latitude={{compdet.latitude}}&companyName={{compdet.companyName}}&companyAddress={{compdet.address}}">
				<div class="compdet1311 fl"><img src="../../../images/address@2x.png"></div>
				<div class="compdet1312 fl">{{compdet.address}}</div>
				<div class="compdet1313 fl"><img src="../../images/icon_1.png" /></div>
			</a>
		</div>
	</div>
	<div class="compdet14">
		<div class="compdet141">
			<a ng-href="/industryinfo?companyId={{companyId}}" ng-class="{disabled: 0 == bs.gongshangStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/gongshang@3x.png" ng-if="1 == bs.gongshangStatus" />
						<img src="../../../images/dis_gongshang@3x.png" ng-if="0 == bs.gongshangStatus" />
					</div>
					<div class="compdet14112">工商信息</div>
				</div>
			</a>
			<a ng-href="/businessMap?companyId={{compdet.id}}&companyName={{compdet.companyName}}" ng-class="{disabled: 0 == bs.tupuStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/qytp@3x.png" ng-if="1 == bs.tupuStatus"/>
						<img src="../../../images/dis_qytp@3x.png" ng-if="0 == bs.tupuStatus"/>
					</div>
					<div class="compdet14112">企业图谱</div>
				</div>
			</a>
			<a ng-href="/indana?industry={{industry}}" ng-class="{disabled: 0 == bs.hangyeStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/hyfx@3x.png" ng-if="1 == bs.hangyeStatus"/>
						<img src="../../../images/dis_hyfx@3x.png" ng-if="0 == bs.hangyeStatus"/>
					</div>
					<div class="compdet14112">行业分析</div>
				</div>
			</a>
			<a ng-href="/shixin_details?iname={{compdet.companyName}}" ng-class="{disabled: 0 == bs.courtitemStatus}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/sxxx@3x.png" ng-if="1 == bs.courtitemStatus"/>
						<img src="../../../images/dis_sxxx@3x.png" ng-if="0 == bs.courtitemStatus"/>
					</div>
					<div class="compdet14112">失信信息</div>
				</div>
			</a>
		</div>
		<div class="compdet141">
			<a ng-href="/litiinfo?companyId={{companyId}}" ng-class="{disabled: 0 == bs.lawsuitmsgStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/susong@3x.png" ng-if="1 == bs.lawsuitmsgStatus"/>
						<img src="../../../images/dis_susong@3x.png" ng-if="0 == bs.lawsuitmsgStatus"/>
					</div>
					<div class="compdet14112">诉讼信息</div>
				</div>
			</a>
			<a ng-href="/investAbroad?companyId={{companyId}}" ng-class="{disabled: 0 == bs.abroadinvestmenttatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/dwtz@3x.png" ng-if="1 == bs.abroadinvestmenttatus"/>
						<img src="../../../images/dis_dwtz@3x.png" ng-if="0 == bs.abroadinvestmenttatus"/>
					</div>
					<div class="compdet14112">对外投资</div>
				</div>
			</a>

			<a ng-href="/shareholderinfo?companyId={{compdet.id}}" ng-class="{disabled: 0 == bs.stockmsgStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/gdxx@3x.png" ng-if="1 == bs.stockmsgStatus" />
						<img src="../../../images/dis_gdxx@3x.png" ng-if="0 == bs.stockmsgStatus" />
					</div>
					<div class="compdet14112">股东信息</div>
				</div>
			</a>


			<a ng-href="/corpinfo?companyId={{companyId}}"  ng-class="{disabled: 0 == bs.enenewterprissStatus}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/qyzx@3x.png" ng-if="1 == bs.enenewterprissStatus" />
						<img src="../../../images/dis_qyzx@3x.png" ng-if="0 == bs.enenewterprissStatus" />
					</div>
					<div class="compdet14112">企业资讯</div>
				</div>
			</a>
		</div>


		<div class="compdet141">
			<a ng-href="/reportdet?companyId={{companyId}}" ng-class="{disabled: 0 == bs.annualportsmsgStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/nbxx@3x.png" ng-if="1 == bs.annualportsmsgStatus"  />
						<img src="../../../images/dis_nbxx@3x.png" ng-if="0 == bs.annualportsmsgStatus"  />
					</div>
					<div class="compdet14112">年报信息</div>
				</div>
			</a>
			<a ng-href="/branchStructure?companyId={{companyId}}" ng-class="{disabled: 0 == bs.sonenterpriseStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/fzjg@3x.png" ng-if="1 == bs.sonenterpriseStatus" />
						<img src="../../../images/dis_fzjg@3x.png" ng-if="0 == bs.sonenterpriseStatus" />
					</div>
					<div class="compdet14112">分支机构</div>
				</div>
			</a>
			<a ng-href="/leadpeople?companyId={{companyId}}"  ng-class="{disabled: 0 == bs.mainmemberStatus}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/zycy@3x.png" ng-if="1 == bs.mainmemberStatus"  />
						<img src="../../../images/dis_zycy@3x.png" ng-if="0 == bs.mainmemberStatus"  />
					</div>
					<div class="compdet14112">主要成员</div>
				</div>
			</a>
			<a ng-href="/changeRecord?companyId={{companyId}}"  ng-class="{disabled: 0 == bs.editrecordStatus}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/bgjl@3x.png" ng-if="1 == bs.editrecordStatus" />
						<img src="../../../images/dis_bgjl@3x.png" ng-if="0 == bs.editrecordStatus" />
					</div>
					<div class="compdet14112">变更记录</div>
				</div>
			</a>
		</div>

	</div>

</div>
<div style="display:none;">
    <div class="jiathis_style_m"></div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
</div>
<style>
    .jiathis_style_m{
        padding: 4px 0 0 0;
    }
    .jiathis_style_m .jiathis_txt{
   /* height: 43px;
    line-height: 43px;*/
    font-size: 14px;

    /*padding: 4px 0 0 0;*/
    }
    span.jiathis_txt.jtico.jtico_qzone{
        width: 18px;
        height: 5px;
        display: inline-block;
    }
</style>
<script>
	$(document).ready(function() {
		$(".cpdl21").mouseover(function() {
			$(this).css("background-color", "#000");
		});
		$(".cpdl21").mouseleave(function() {
			$(this).css("background-color", "#666");
		});
		$(".headdd").click(function() {
			if ($(".cpdl").css("display") == "none") {
				$(".cpdl").css("display", "block");
			} else {
				$(".cpdl").css("display", "none");
			}

		});
	});
</script>
