<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/investa.css" />
  
 </head>

<body style="background-color:#FFF">
<div class="investa">
	<div class="header">
		公司所在地
		<div class="leftjj"><a href="/compdet"><</a></div>
		<div class="rightwz"></div>
	</div>

</div>
</body>

</html>