<div class="compdet">
	<div class="cpdl" style="display:none">
		<div class="cpdl1"><img src="../../../images/jiantou@3x.png"></div>
		<div class="cpdl2">
			<div class="cpdl21 prt5" onClick="window.location.href='/share'">
				<div class="cpdl211">
					<div class="cpdl2111"><img src="../../../images/share2@3x.png"></div>
					<div class="cpdl2112 fxbtn">分享</div>
				</div>
			</div>
			<!-- <div class="cpdl21">
				<div class="cpdl211"><div class="cpdl2111"><img src="../../../images/phone@3x.png"></div><div class="cpdl2112 dhbtn">电话</div></div>
			</div> -->
			<div class="cpdl21" onClick="window.location.href='/errorcorrect'">
				<div class="cpdl211 bdn">
					<div class="cpdl2111"><img src="../../../images/change@3x.png"></div>
					<div class="cpdl2112 jcbtn">纠错</div>
				</div>
			</div>
		</div>
	</div>



	<div class="fenxiang" style="display:none;">
		<div class="fenxiang1">
			<div class="h15"></div>
			<div class="fenxiang11">
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
			</div>
			<div class="h15"></div>
			<div class="fenxiang12">取消</div>
		</div>
	</div>
	<div class="dianhua" style="display:none;">
		<div class="dianhua1 bdb cb">7-43434-123</div>
		<div class="dianhua1 bdb cb">7-43434-123</div>
		<div class="dianhua1 bdb dhgb">关闭</div>
	</div>

</div>



<div class="compdet1">



	<div class="mycenter_header1">
		<ul>
			<li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
			<li class="li_2">{{compdet.companyName}}</li>
			<li class="li_3"><span class="headdd">...</span></li>
			<br style="clear: both;" />
		</ul>
	</div>


	<div class="compdet11">
		<div class="compdet111">
			<div class="compdet1111">更新：2016-03-11</div>
			<div class="compdet1112">存续</div>
		</div>
		<div class="compdet112">
			<img src="../../../images/starjudge.png" />
		</div>
		<div class="compdet113" ng-if="isAlreadyFocus==false">
			<a href="#" ng-click="addMyAttention()">关注</a>
		</div>
		<div class="compdet113" ng-if="isAlreadyFocus==true">
			<a href="#" ng-click="removeMyAttention()">取消关注</a>
		</div>
		<div class="compdet114">
			浏览：51<span class="mgl10">关注：1</span>
		</div>
	</div>

	<div class="compdet12">
		<div class="compdet121">
			<div class="compdet1211 bdrw">
				<div class="compdet12111">法定代表人</div>
				<div class="compdet12112">{{compdet.legalRepPersion}}</div>
			</div>
			<div class="compdet1211 bdrw">
				<div class="compdet12111">注册资金</div>
				<div class="compdet12112">1000万人民币</div>
			</div>
			<div class="compdet1211">
				<div class="compdet12111">成立日期</div>
				<div class="compdet12112">{{compdet.companyCreatTime}}</div>
			</div>
		</div>
	</div>

	<div class="compdet13">
		<div class="compdet131">
			<div class="compdet1311 fl"><img src="../../../images/address@2x.png"></div>
			<div class="compdet1312 fl">{{compdet.address}}</div>
			<div class="compdet1313 fl"><img src="../../images/icon_1.png" /></div>
		</div>
	</div>

	<div class="compdet14">
		<div class="compdet141">
			<div class="compdet1411 bdrw">
				<a ng-href="/industryinfo?companyId={{companyId}}">
					<div class="compdet14111">
						<img src="../../../images/gongshang@3x.png" />
					</div>
					<div class="compdet14112">工商信息</div>
				</a>
			</div>
			<a href="/businessMap">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/fzjg@3x.png" />
					</div>
					<div class="compdet14112">企业图谱</div>
				</div>
			</a>
			<a href="/indana?industryId={{industryId}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/hyfx@3x.png" />
					</div>
					<div class="compdet14112">行业分析</div>
				</div>
			</a>
			<a ng-href="/shixin_details?iname={{compdet.companyName}}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/sxxx@3x.png" />
					</div>
					<div class="compdet14112">失信信息</div>
				</div>
			</a>
		</div>
		<div class="compdet141">
			<a href="/litiinfo">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/susong@3x.png" />
					</div>
					<div class="compdet14112">诉讼信息</div>
				</div>
			</a>
			<a href="/investAbroad">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/dwtz@3x.png" />
					</div>
					<div class="compdet14112">对外投资</div>
				</div>
			</a>

			<a ng-href="/shareholderinfo?companyId={{compdet.id}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/gdxx@3x.png" />
					</div>
					<div class="compdet14112">股东信息</div>
				</div>
			</a>


			<a href="/corpinfo">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/qyzx@3x.png" />
					</div>
					<div class="compdet14112">企业资讯</div>
				</div>
			</a>
		</div>


		<div class="compdet141">
			<a href="/reportdet">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/nbxx@3x.png" />
					</div>
					<div class="compdet14112">年报信息</div>
				</div>
			</a>
			<a href="/branchStructure">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/fzjg@3x.png" />
					</div>
					<div class="compdet14112">分支机构</div>
				</div>
			</a>
			<a href="/leadpeople">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/zycy@3x.png" />
					</div>
					<div class="compdet14112">主要成员</div>
				</div>
			</a> 
			<a ng-href="/changeRecord?companyId={{companyId}}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/bgjl@3x.png" />
					</div>
					<div class="compdet14112">变更记录</div>
				</div>
			</a>
		</div>

	</div>

</div>

<script>
	$(document).ready(function() {
		$(".cpdl21").mouseover(function() {
			$(this).css("background-color", "#000");
		});
		$(".cpdl21").mouseleave(function() {
			$(this).css("background-color", "#666");
		});
		$(".headdd").click(function() {
			if ($(".cpdl").css("display") == "none") {
				$(".cpdl").css("display", "block");
			} else {
				$(".cpdl").css("display", "none");
			}

		});
		/*$(".fxbtn").click(function(){
			$(".fenxiang").css("display","block");
		});
		$(".dhbtn").click(function(){
			$(".dianhua").css("display","block");
		});
		$(".dhgb").click(function(){
			$(".dianhua").css("display","none");
		});


		$('.compdet113').click(function(){
			$(this).html('已关注');
		});*/
	});
</script>
<style>
	/*  	.compdet131{
	width:100%;
	min-height:60px;
	line-height:60px;

	padding: 0 0 0 4%;

}
.compdet1311{

	float: left;
	margin-right:10px;
}
.compdet1311 img{
	width: 14px;
	height: 17px;
	display: inline-block;

}
.compdet1312{
	float: left;
	width:77%;
	height:60px;
	line-height:30px;
	color:#777;
}
.compdet1313{
	float: left;
	text-align: right;
	height:30px;

	color:#ccc;

	margin: 0 0 0 10%;

}
.compdet1313 img{
	width: 7px;
	height: 13px;
	display: inline-block;
}*/
</style>
