<div class="compdet">
	<div class="cpdl" style="display:none">
		<div class="cpdl1"><img src="../../../images/jiantou@3x.png"></div>
		<div class="cpdl2">
            <a href="/settings">
			<div class="cpdl21 prt5">
				<div class="cpdl211">
					<div class="cpdl2111"><img src="../../../images/share2@3x.png"></div>
					<div class="cpdl2112 fxbtn">分享</div>
				</div>
			</div>
            </a>
			<!-- <div class="cpdl21">
				<div class="cpdl211"><div class="cpdl2111"><img src="../../../images/phone@3x.png"></div><div class="cpdl2112 dhbtn">电话</div></div>
			</div> -->
            <a href="/errorcorrect">
			<div class="cpdl21">
				<div class="cpdl211 bdn">
					<div class="cpdl2111"><img src="../../../images/change@3x.png"></div>
					<div class="cpdl2112 jcbtn">纠错</div>
				</div>
			</div>
            </a>
		</div>
	</div>
</div>
<div class="compdet1">
	<div class="mycenter_header1">
		<ul>
			<li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
			<li class="li_2">{{compdet.companyName}}</li>
			<li class="li_3"><span class="headdd">...</span></li>
			<br style="clear: both;" />
		</ul>
	</div>
	<div class="compdet11">
		<div class="compdet111">
			<div class="compdet1111">$ 更新：2016-03-11</div>
			<div class="compdet1112">{{compdet.managementStatus}}</div>
		</div>
		<div class="compdet112">
			<img src="../../../images/starjudge.png" />
		</div>
		<div class="compdet113" ng-if="0 == compdet.sts">
			<a href="#" ng-click="addMyAttention()">关注</a>
		</div>
		<div class="compdet113" ng-if="1 == compdet.sts">
			<a href="#" ng-click="removeMyAttention()">取消关注</a>
		</div>
		<div class="compdet114">
			浏览：{{compdet.browseCount}}<span class="mgl10">关注：{{compdet.focus}}</span>
		</div>
	</div>
	<div class="compdet12">
		<div class="compdet121">
			<div class="compdet1211 bdrw">
				<div class="compdet12111">法定代表人</div>
				<div class="compdet12112">{{compdet.legalRepPersion}}</div>
			</div>
			<div class="compdet1211 bdrw">
				<div class="compdet12111">$ 注册资金</div>
				<div class="compdet12112">1000万人民币</div>
			</div>
			<div class="compdet1211">
				<div class="compdet12111">成立日期</div>
				<div class="compdet12112">{{compdet.companyCreatTime}}</div>
			</div>
		</div>
	</div>
	<div class="compdet13">
		<div class="compdet131">
			<a ng-href="/amap?longitude={{compdet.longitude}}&latitude={{compdet.latitude}}&companyName={{compdet.companyName}}&companyAddress={{compdet.address}}">
				<div class="compdet1311 fl"><img src="../../../images/address@2x.png"></div>
				<div class="compdet1312 fl">{{compdet.address}}</div>
				<div class="compdet1313 fl"><img src="../../images/icon_1.png" /></div>
			</a>
		</div>
	</div>
	<div class="compdet14">
		<div class="compdet141">
			<div class="compdet1411 bdrw">
				<a ng-href="/industryinfo?companyId={{companyId}}">
					<div class="compdet14111">
						<img src="../../../images/gongshang@3x.png" />
					</div>
					<div class="compdet14112">工商信息</div>
				</a>
			</div>
			<a href="/businessMap?companyId={{compdet.id}}&companyName={{compdet.companyName}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/fzjg@3x.png" />
					</div>
					<div class="compdet14112">企业图谱</div>
				</div>
			</a>
			<a href="/indana?industryId={{industryId}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/hyfx@3x.png" />
					</div>
					<div class="compdet14112">行业分析</div>
				</div>
			</a>
			<a ng-href="/shixin_details?iname={{compdet.companyName}}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/sxxx@3x.png" />
					</div>
					<div class="compdet14112">失信信息</div>
				</div>
			</a>
		</div>
		<div class="compdet141">
			<a href="/litiinfo?companyId={{companyId}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/susong@3x.png" />
					</div>
					<div class="compdet14112">诉讼信息</div>
				</div>
			</a>
			<a href="/investAbroad">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/dwtz@3x.png" />
					</div>
					<div class="compdet14112">对外投资</div>
				</div>
			</a>

			<a ng-href="/shareholderinfo?companyId={{compdet.id}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/gdxx@3x.png" />
					</div>
					<div class="compdet14112">股东信息</div>
				</div>
			</a>


			<a href="/corpinfo">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/qyzx@3x.png" />
					</div>
					<div class="compdet14112">企业资讯</div>
				</div>
			</a>
		</div>


		<div class="compdet141">
			<a href="/reportdet?companyId={{companyId}}">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/nbxx@3x.png" />
					</div>
					<div class="compdet14112">年报信息</div>
				</div>
			</a>
			<a href="/branchStructure">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/fzjg@3x.png" />
					</div>
					<div class="compdet14112">分支机构</div>
				</div>
			</a>
			<a href="/leadpeople">
				<div class="compdet1411 bdrw">
					<div class="compdet14111">
						<img src="../../../images/zycy@3x.png" />
					</div>
					<div class="compdet14112">主要成员</div>
				</div>
			</a>
			<a ng-href="/changeRecord?companyId={{companyId}}">
				<div class="compdet1411">
					<div class="compdet14111">
						<img src="../../../images/bgjl@3x.png" />
					</div>
					<div class="compdet14112">变更记录</div>
				</div>
			</a>
		</div>

	</div>

</div>

<script>
	$(document).ready(function() {
		$(".cpdl21").mouseover(function() {
			$(this).css("background-color", "#000");
		});
		$(".cpdl21").mouseleave(function() {
			$(this).css("background-color", "#666");
		});
		$(".headdd").click(function() {
			if ($(".cpdl").css("display") == "none") {
				$(".cpdl").css("display", "block");
			} else {
				$(".cpdl").css("display", "none");
			}

		});
	});
</script>
