<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/main.css" />
     <link rel="stylesheet" href="../../../css/compdet.css" />
  
 </head>

<body style="background-color:#FFF">
	<div class="compdet">
		<div class="header">
		纠错
		<div class="leftjj"><a href="/compdet"><</a></div>
		<div class="rightwz"></div>
		</div>
		<div class="compdet2">
			<div class="compdet21">选择信息有误的部分（多选）</div>
			<div class="compdet22">
				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>


				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>


				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>
			</div>
			<!-- <div class="compdet23">
				我们会搜集您提交的信息，并在3~5个工作日内回复
			</div> -->
			<div class="compdet23">
				<form action="#" method="post">
				<textarea placeholder="我们会收集您提交的请求，并在3-5个工作日回复。"></textarea>
			   </form>
			</div>
			<div class="compdet24">
			    <form action="#" method="post">
                   <input type="text" placeholder="12345678"/>
                </form>
			</div>
			<div class="compdet25">
			   <form action="#" method="post">
				<input type="button" value="提交纠错信息" />
			   </form>
			</div>
		</div>
	</div>

</body>

</html>