	<div class="compdet">
		<div class="header">
		纠错
		<div class="leftjj"><</div>
		<div class="rightwz"></div>
		</div>
		<div class="compdet2">
			<div class="compdet21">选择信息有误的部分（多选）</div>
			<div class="compdet22" ng-model="ErrorFormData.errorParts">
				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>


				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>


				<div class="compdet221 mgrb2">工商信息</div>
				<div class="compdet221 mgrb2">企业图谱</div>
				<div class="compdet221 mgrb2">行业分析</div>
				<div class="compdet221">失信信息</div>
			</div>
			<!-- <div class="compdet23">
				我们会搜集您提交的信息，并在3~5个工作日内回复
			</div> -->
			<div class="compdet23">
				<form action="#" method="post">
				<textarea placeholder="我们会收集您提交的请求，并在3-5个工作日回复。" ng-model="ErrorFormData.errorContent"></textarea>
			   </form>
			</div>
			<div class="compdet24">
			    <form action="#" method="post">
                   <input type="text" placeholder="12345678"  ng-model="ErrorFormData.mobileNo"/>
                </form>
			</div>
			<div class="compdet25">
			   <form action="#" method="post">
				<input type="button" value="提交纠错信息" ng-click="submitBtn()"/>
			   </form>
			</div>
		</div>
	</div>