<div class="mycenter_myfocus">
     <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/index"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">热门企业</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="myfocus" onClick="window.location.href='/compdet'">
        <p>北京巨星世纪乐凯有限公司</p>
        <ul>
            <li class="li_one" style="width: 30%;"><img src="../../images/pic_6.png" style="width: 100%;"></li>
            <li class="li_three">20人关注</li>
            <br style="clear: both;" />
        </ul>
    </div>
</div>
