<div class="mycenter_myfocus">
    <div class="mycenter_header">
        <ul>
            <li class="li_1">
                <a href="/index"><img src="../../images/icon_2.png"></a>
            </li>
            <li class="li_2">热门企业</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="myfocus">
        <ul ng-repeat="hotbusiness in hotbusiness.rows">
            <a ng-href="/compdet?id={{hotbusiness.id}}">
                <p>{{hotbusiness.companyName}}</p>
                <li class="li_one" style="width: 30%;">
                   <img ng-if="!hotbusiness.level" src="../../images/star0.png" height="14px">
                   <img ng-if="hotbusiness.level == 1" src="../../images/star1.png" height="14px">
                   <img ng-if="hotbusiness.level == 2" src="../../images/star2.png" height="14px">
                   <img ng-if="hotbusiness.level == 3" src="../../images/star3.png" height="14px">
                   <img ng-if="hotbusiness.level == 4" src="../../images/star4.png" height="14px">
                   <img ng-if="hotbusiness.level == 5" src="../../images/star5.png" height="14px">
                </li>
                <li class="li_three"><span class="co">{{hotbusiness.focus | myNum}}</span>人关注</li>
                <div style="clear: both;"></div>
            </a>
        </ul>
    </div>
</div>
