<div class="industryinfo">
	<div class="myhome_ban">
		<ul class="ul_one">
            <li class="li_one"><a href="/compdet"><img src="../../images/icon_2.png"></a></li>
            <li class="li_two">工商信息</li>
            <li class="li_three">纠错</li>
            <br style="clear: both;" />
        </ul>
        <p><img src="../../images/pic_10.png"/></p>
    	<div class="myhome_industry">

    	<div class="myhome_industry1 industry1_p">
    		<p><span>注册资本：</span>6600万元</p>
    		<p class="p_two"><span>法定代表人：</span>李邦运</p>
    		<br style="clear: both;" />
    	</div>

    	<div class="myhome_industry1 industry1_p">
    		<p>成<span>立日期：</span>2002-12-12</p>
    		<p class="p_two"><span>发照日期：</span>2008-10-09</p>
    		<br style="clear: both;" />
    	</div>

    	
    		<p><span>工商注册号：</span>33202156255600003583</p>

      
    		<p><span>组织机构代码：</span>75323779-6</p>




    	</div>
	</div>
	<div class="industry_con">
		<div class="industry_con1">
			<p class="p_one">曾用名</p>
			<p style="padding: 5px 0 0 0;">浙江华东橡胶有限公司（2011-11-01）</p>
			<p>浙江华东橡胶有限公司（2011-11-01）</p>
			<p>浙江华东橡胶有限公司（2011-11-01）</p>
		</div>
		<div class="industry_con1 industry_con2">
			<p><span>企业类型：</span>其他有限责任公司</p>
			<p><span>经营状态：</span>存续</p>
			<p><span>公司地址：</span>西安市雁塔区长安中路123号B2层2276号</p>
			<p><span>营业期限：</span>2001-12-18至*****</p>
			<p><span>登记机关：</span>工商管理局</p>
		</div>
		<div class="industry_con1">
		    <p class="p_one">经营范围</p>
			<p style="padding: 5px 0 0 0;">企业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司业类型其他有限责任公司</p>
		</div>
	</div>
</div>