<div class="industryinfo">
	<div class="myhome_ban">
		<ul class="ul_one">
			<li class="li_one" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
			<li class="li_two">工商信息</li>
			<li class="li_three"><a href="/errorcorrect">纠错</a></li>
			<br style="clear: both;" />
		</ul>
		<p><img src="../../images/pic_10.png" /></p>
		<div class="myhome_industry">
			<div class="myhome_industry1 industry1_p">
				<p><span>注册资本：</span>{{industryInfo.registCapital}}</p>
				<p class="p_two"><span>法定代表人：</span>{{industryInfo.legalRepPersion}}</p>
				<br style="clear: both;" />
			</div>
			<div class="myhome_industry1 industry1_p">
				<p>成<span>立日期：</span>{{industryInfo.companyCreatTime}}</p>
				<!-- <p class="p_two"><span>发照日期：</span>2008-10-09</p> -->
				<br style="clear: both;" />
			</div>
			<p><span>工商注册号：</span>{{industryInfo.registNo}}</p>
			<!-- <p><span>组织机构代码：</span>75323779-6</p> -->
		</div>
	</div>
	<div class="industry_con">
		<div class="industry_con1">
			<p class="p_one">曾用名</p>
			<!-- <p style="padding: 5px 0 0 0;">浙江华东橡胶有限公司（2011-11-01）</p> -->
		</div>
		<div class="industry_con1 industry_con2">
			<p><span>企业类型：</span>{{industryInfo.companyType}}</p>
			<p><span>经营状态：</span>{{industryInfo.recordStatus}}</p>
			<p><span>公司地址：</span>{{industryInfo.address}}</p>
			<p><span>营业期限：</span>{{industryInfo.businessDeadline}}</p>
			<p><span>登记机关：</span>{{industryInfo.recordDept}}</p>
		</div>
		<div class="industry_con1">
			<p class="p_one">经营范围</p>
			<p style="padding: 5px 0 0 0;">{{industryInfo.manageScope}}</p>
		</div>
	</div>
</div>
