<div class="fenxiang">
		<div class="fenxiang1">
		<div class="h15"></div>
			<div class="fenxiang11">
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
				<div class="fenxiang111">
					<div class="fenxiang1111">
						<img src="../../../images/weixin_friend@3x.png">
					</div>
					<div class="fenxiang1112">
						微信好友
					</div>
				</div>
			</div>
			<div class="h15"></div>
			<div class="fenxiang12">取消</div>
		</div>
	</div>