<!-- <div style="width: 100%; height: 40px; background-color: #00BBFB">
	<div style="float:left;width:16px;height:19px">
		<a href="/compdet"><img src="/images/icon_2.png"></a>
	</div>
	<div style="float:left; width: calc(100% - 32px - 34px); width:-webkit-calc(100% - 32px - 34px); width: -moz-calc(100% - 32px - 34px);   width: -o-calc(100% - 32px - 34px); height: 37px">
		<div style="text-align:center">
			<span style="color:#FFF;line-height:37px;font-size:1.2em;">分支机构</span>
		</div>
	</div>
	<div style="float:left;width:34px;height:37px;text-align:right">
		<a href="errorcorrect">
			<span style="color:#FFF;line-height:37px;font-size:1.2em;cursor:pointer">
				纠错
			</span>
		</a>
	</div>
</div>




<div style="width:100%;height:100%">
	<div ng-repeat="item in sonEnterpriseMsgArray"  style="width:95%;height:60px;background-color:white;border-bottom:1px solid #b3b3b3;margin-left:2.5%;margin-right:2.5%">
		<table>
			<tr>
				<td colspan="4">
					<span style="font-size: 16px;font-weight: bold;margin-left:20px" ng-bind="item.companyName"></span>
				</td>
			</tr>
			<tr>
				<td style="width:16px; height:16px">
					<img style="width:14px;height:14px;;margin-left:20px" src="/images/xiaoren.png" />
				</td>
				<td style="width:80px; height:16px;">
					<span style="font-size: 14px;font-weight: normal;">公司法人：</span>
				</td>
				<td style="width:130px; height:16px;">
					<span style="font-size: 14px;font-weight: normal;" ng-bind="item.legalRepPersion"></span>
				</td>
				<td>
					<span style="font-size: 14px;font-weight: normal;" ng-bind="item.recordStatus"></span>
				</td>
			</tr>
		</table>
		
	</div>
</div> -->



<div class="mycenter_myfocus">
     <div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">分支机构</li>
            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
            <br style="clear: both;" />
        </ul>
    </div>
   <!--  <div style="width:100%;height:100%">
	<div ng-repeat="item in sonEnterpriseMsgArray"  style="width:95%;height:60px;background-color:white;border-bottom:1px solid #b3b3b3;margin-left:2.5%;margin-right:2.5%">
		<table>
			<tr>
				<td colspan="4">
					<span style="font-size: 16px;font-weight: bold;margin-left:20px" ng-bind="item.companyName"></span>
				</td>
			</tr>
			<tr>
				<td style="width:16px; height:16px">
					<img style="width:14px;height:14px;;margin-left:20px" src="/images/xiaoren.png" />
				</td>
				<td style="width:80px; height:16px;">
					<span style="font-size: 14px;font-weight: normal;">公司法人：</span>
				</td>
				<td style="width:130px; height:16px;">
					<span style="font-size: 14px;font-weight: normal;" ng-bind="item.legalRepPersion"></span>
				</td>
				<td>
					<span style="font-size: 14px;font-weight: normal;" ng-bind="item.recordStatus"></span>
				</td>
			</tr>
		</table>
		
	</div>
</div>  -->


 <div class="myfocus" ng-repeat="item in sonEnterpriseMsgArray">
       <!--  <a ng-href="/compdet?companyId={{myfocus.companyId}}&sts=1"> -->
        <ul>
            <p>{{item.companyName}}</p>
            <li class="li_one"><img src="../../images/company_list@3x.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：{{item.legalRepPersion}}</li>
            <li class="li_three">{{item.recordStatus}}</li>
            <br style="clear: both;" />
        </ul>
      <!--   </a> -->
</div>


    
</div>
