<div class="investa">
	<div class="header">
		分支结构
		<div class="leftjj"><a href="/compdet"><</a></div>
		<div class="rightwz"><a href="errorcorrect">纠错</a></div>
	</div>
	<div class="investa1">
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
			</div>
			<div class="investa113"></div>
		</div>
		<div class="investa11">
			<div class="investa111">天虹中国保险有限公司</div>
			<div class="investa112">
				<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
			</div>
			<div class="investa113"></div>
		</div>
	</div>
</div>