<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
   
    <link rel="stylesheet" href="../../../css/investa.css" />
    <link rel="stylesheet" href="../../../css/changeRecord.css" />
     <link rel="stylesheet" href="../../../css/reportdetl.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
    <script src="../../../lib/jquery/jquery.min.js"></script>
  <script>
  	$(document).ready(function(){
  		$(".rdl11").click(function(){
  			
  			if($(this).next().css("display")=="none"){
  				$(".nbnr").css("display","none");
  				$(this).next().css("display","block");
  			}else{
  				$(".nbnr").css("display","none");
  			}
  			
  		});
  	});
  </script>
 </head>

<body style="background-color:#FFF">
	<div class="rdl">
		<div class="header">
		2015年年报详情
		<div class="leftjj"><a href=""><</a></div>
		<div class="rightwz"><a href="errorcorrect">纠错</a></div>
		</div>
		<div class="rdl1">
			<div class="rdl11">
				<div class="rdl111">企业基本信息</div><div class="rdl112"></div>
			</div>
			<div class="qyjbxx nbnr" style="display:none">
				<div class="jj15"></div>
				<div class="ititle">企业名称</div>
				<div class="icontent">上海东华电器股份有限公司</div>
				<div class="jj15"></div>
				<div class="ititle">注册号</div>
				<div class="icontent">654621321654</div>
				<div class="jj15"></div>
				<div class="h20">
				<div class="wb50 fl"><div class="ititle">企业联系电话</div></div><div class="wb50 fl"><div class="ititle">邮政编码</div></div></div>
				<div class="h30">
				<div class="wb50 fl"><div class="icontent">9-45541-65212</div></div><div class="wb50 fl"><div class="icontent">200333</div></div></div>
				<div class="jj15"></div>
				<div class="ititle">企业通信地址</div>
				<div class="icontent">上海市朝阳西的卡夫卡的房间</div>
				<div class="jj15"></div>
				<div class="ititle">电子邮箱</div>
				<div class="icontent">6854654@qq.com</div>
				<div class="jj15"></div>
				<div class="ititle">有限责任公司本年度是否发生股权转让</div>
				<div class="icontent">否</div>
				<div class="jj15"></div>
				<div class="ititle">企业经营状况</div>
				<div class="icontent">开业</div>
				<div class="jj15"></div>
				<div class="ititle">是否有网站或者网店</div>
				<div class="icontent">否</div>
				<div class="jj15"></div>
				<div class="ititle">企业是否有投资信息或购买其他公司股权</div>
				<div class="icontent">无</div>
				<div class="jj15"></div>
				<div class="ititle">从业人数</div>
				<div class="icontent">企业选择不公开</div>
				<div class="jj15"></div>
			</div>
			<div class="rdl11">
				<div class="rdl111">网站或网店信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="jj15"></div>
				<div class="ititle">www.1254.com</div>
				<div class="icontent">小游戏（网站）</div>
				<div class="jj15"></div>
				<div class="ititle">www.1254.com</div>
				<div class="icontent">小游戏（网站）</div>
				<div class="jj15"></div>
				<div class="ititle">www.1254.com</div>
				<div class="icontent">小游戏（网站）</div>
				<div class="jj15"></div>
			</div>
			<div class="rdl11">
				<div class="rdl111">股东信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="jj15"></div>
				<div class="icontent">章婷婷</div>

				<div class="h20">
				<div class="wb50 fl"><div class="ititle">出资时间</div></div><div class="wb50 fl"><div class="ititle">认缴出资额</div></div></div>
				<div class="h30">
				<div class="wb50 fl"><div class="icontent">2016-02-03</div></div><div class="wb50 fl"><div class="icontent">200333万人民币</div></div></div>
				<div class="jj15"></div>
				<div class="h20">
				<div class="wb50 fl"><div class="ititle">实缴时间</div></div><div class="wb50 fl"><div class="ititle">实缴出资额</div></div></div>
				<div class="h30">
				<div class="wb50 fl"><div class="icontent">2016-02-03</div></div><div class="wb50 fl"><div class="icontent">200333万人民币</div></div></div>
				<div class="jj15"></div>
				<div class="ititle">出资方式</div>
				<div class="icontent">货币</div>
				<div class="jj15"></div>

				<div class="icontent">章婷婷</div>

				<div class="h20">
				<div class="wb50 fl"><div class="ititle">出资时间</div></div><div class="wb50 fl"><div class="ititle">认缴出资额</div></div></div>
				<div class="h30">
				<div class="wb50 fl"><div class="icontent">2016-02-03</div></div><div class="wb50 fl"><div class="icontent">200333万人民币</div></div></div>
				<div class="jj15"></div>
				<div class="h20">
				<div class="wb50 fl"><div class="ititle">实缴时间</div></div><div class="wb50 fl"><div class="ititle">实缴出资额</div></div></div>
				<div class="h30">
				<div class="wb50 fl"><div class="icontent">2016-02-03</div></div><div class="wb50 fl"><div class="icontent">200333万人民币</div></div></div>
				<div class="jj15"></div>
				<div class="ititle">出资方式</div>
				<div class="icontent">货币</div>
				<div class="jj15"></div>
			</div>
			<div class="rdl11">
				<div class="rdl111">对外投资</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="investa11">
					<div class="investa111 fz1">天虹中国保险有限公司</div>
					<div class="investa112">
						<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
					</div>
					<div class="investa113"></div>
				</div>
				<div class="investa11">
					<div class="investa111 fz1">天虹中国保险有限公司天虹中国保险有限公司</div>
					<div class="investa112">
						<div class="investa1121 fl"></div><div class="investa1122 fl">公司法人：尹伟安</div><div class="investa1123 fr">在营（开业）企业</div>
					</div>
					<div class="investa113"></div>
				</div>
			</div>
			<div class="rdl11">
				<div class="rdl111">企业资产状况信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="jj15"></div>
				<div class="ititle">资产总额</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">所有者权益合计</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">营业总收入</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">利润总额</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">营业总输入中主营业务收入</div>
				<div class="icontent">1毛</div>
				<div class="jj15"></div>
				<div class="ititle">净利润</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">纳税总额</div>
				<div class="icontent">企业选择不公示</div>
				<div class="jj15"></div>
				<div class="ititle">负债总额</div>
				<div class="icontent">企业选择不公示</div>
			</div>
			<div class="rdl11">
				<div class="rdl111">对外提供保证投保信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
			<div class="jj15"></div>
				<div class="changer11" style="margin:0;margin-left:10px;">
					<div class="changer111">
						<div class="changer1111"><div class="changer11111"></div></div>
						<div class="changer1112">
							<div class="changer11121">
								<div class="changer111211">2015年04月21日</div>
								<div class="changer111212">法定代表人</div>
							</div>
							<div class="changer11122">
								<div class="changer111221">
									<div class="changer1112211 bdr">
										<div class="changer11122111">变更前</div>
										<div class="changer11122112">变更前</div>
									</div>
									<div class="changer1112211">
										<div class="changer11122111 mgl15">变更前</div>
										<div class="changer11122112 mgl15">变更前</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="changer111">
						<div class="changer1111"><div class="changer11111"></div></div>
						<div class="changer1112">
							<div class="changer11121">
								<div class="changer111211">2015年04月21日</div>
								<div class="changer111212">经营范围</div>
							</div>
							<div class="changer11122">
								<div class="changer111221" style="min-height:210px">
									<div class="changer1112211 bdr">
										<div class="changer11122111">变更前</div>
										<div class="changer11122112">变更前变更前变更前变更前变更前变更前变更前变更前变更前变更前</div>
									</div>
									<div class="changer1112211">
										<div class="changer11122111 mgl15">变更前</div>
										<div class="changer11122112 mgl15">变更前变更前变更前变更前变更前变更前变更前变更前变更前变</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="changer111">
						<div class="changer1111"><div class="changer11111"></div></div>
						<div class="changer1112">
							<div class="changer11121">
								<div class="changer111211">2015年04月21日</div>
								<div class="changer111212">法定代表人</div>
							</div>
							<div class="changer11122">
								<div class="changer111221">
									<div class="changer1112211 bdr">
										<div class="changer11122111">变更前</div>
										<div class="changer11122112">变更前</div>
									</div>
									<div class="changer1112211">
										<div class="changer11122111 mgl15">变更前</div>
										<div class="changer11122112 mgl15">变更前</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="rdl11">
				<div class="rdl111">股权变更信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="jj15"></div>
				<div class="icontent co">股东：灵芝</div>
				<div class="ititle">2014年02月23日</div>
				<div class="icontent"><div class="icontent fl co wb50">变更后&nbsp;46%</div><div class="icontent fl wb50">变更前&nbsp;46%</div></div>
				<div class="jj15"></div>
				<div class="icontent co">股东：灵芝</div>
				<div class="ititle">2014年02月23日</div>
				<div class="icontent"><div class="icontent fl co wb50">变更后&nbsp;46%</div><div class="icontent fl wb50">变更前&nbsp;46%</div></div>
			</div>
			<div class="rdl11 bdb">
				<div class="rdl111">对外提供担保信息</div><div class="rdl112"></div>
			</div>
			<div class="nbnr" style="display:none">
				<div class="investa11">
					<div class="investa111 fz1">天虹中国保险有限公司</div>
					<div class="investa112">
						<div class="investa1121 fl bgm"></div><div class="investa1122 fl"><span class="co">5454</span>万人民币</div>
						<div class="investa1121 fl bgt"></div><div class="investa1122 fl wb30">公司法人：尹伟安</div>
					</div>
					<div class="investa113"></div>
				</div>
				
				<div class="investa11">
					<div class="investa111 fz1">天虹中国保险有限公司</div>
					<div class="investa112">
						<div class="investa1121 fl bgm"></div><div class="investa1122 fl"><span class="co">5454</span>万人民币</div>
						<div class="investa1121 fl bgt"></div><div class="investa1122 fl wb30">公司法人：尹伟安</div>
					</div>
					<div class="investa113"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>