<!-- <script>
    $(document).ready(function() {
        $(".rdl11").click(function() {

            if ($(this).next().css("display") == "none") {
                $(".nbnr").css("display", "none");
                $(this).next().css("display", "block");
            } else {
                $(".nbnr").css("display", "none");
            }

        });
    });
</script> -->

<div class="rdl">

    <header class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">{{reportName}}详情</li>
            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
            <br style="clear: both;" />
        </ul>
    </header>

    <content class="rdl1" style="background-color:#fff;overflow:hidden;">

        <!-- s: 企业基本信息 -->
        <div class="rdl11" ng-click="companyBaseShow = !companyBaseShow">
            <div class="rdl111">企业基本信息</div>
            <div class="rdl112"></div>
        </div>
        <div class="qyjbxx nbnr" ng-if="!companyBaseShow">
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">企业名称</div>
                    <div class="icontent">{{companyBase.companyName}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">注册号</div>
                    <div class="icontent">{{companyBase.registNo}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="h20">
                        <div class="wb50 fl">
                            <div class="ititle">企业联系电话</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="ititle">邮政编码</div>
                        </div>
                    </div>

                    <div class="h30">
                        <div class="wb50 fl">
                            <div class="icontent">{{companyBase.companyPhoneNo}}</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="icontent">{{companyBase.postcode}}</div>
                        </div>
                    </div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">企业通信地址</div>
                    <div class="icontent">{{companyBase.address}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">电子邮箱</div>
                    <div class="icontent">{{companyBase.email}}</div>
                    <div class="jj15"></div>
            </div>
            <!-- <div class="ititle">有限责任公司本年度是否发生股权转让</div>
            <div class="icontent">否</div> -->
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">企业经营状况</div>
                    <div class="icontent">{{companyBase.anagementStatus}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">是否有网站或者网店</div>
                    <div class="icontent">{{companyBase.isHaveWeb}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">企业是否有投资信息或购买其他公司股权</div>
                    <div class="icontent">{{companyBase.companyInverstment}}</div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">从业人数</div>
                    <div class="icontent">{{companyBase.employeeCount}}</div>
                    <div class="jj15"></div>
            </div>
        </div>
        <!-- e: 企业基本信息 -->

        <!-- s: 股东信息 -->
        <div class="rdl11" ng-click="holderShow = !holderShow">
            <div class="rdl111">股东信息</div>
            <div class="rdl112"></div>
        </div>
        <div class="nbnr" ng-if="holderShow">
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <!-- <div class="icontent">章婷婷</div> -->

                    <div class="h20">
                        <div class="wb50 fl">
                            <div class="ititle">出资时间</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="ititle">认缴出资额</div>
                        </div>
                    </div>
                    <div class="h30">
                        <div class="wb50 fl">
                            <div class="icontent">{{holder.subcribeTime}}</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="icontent">{{holder.subcribe}}</div>
                        </div>
                    </div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="h20">
                        <div class="wb50 fl">
                            <div class="ititle">实缴时间</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="ititle">实缴出资额</div>
                        </div>
                    </div>
                    <div class="h30">
                        <div class="wb50 fl">
                            <div class="icontent">{{holder.realSubcribeTime}}</div>
                        </div>
                        <div class="wb50 fl">
                            <div class="icontent">{{holder.realSubcribe}}</div>
                        </div>
                    </div>
                    <div class="jj15"></div>
            </div>
            <div class="nianbao_bottom">
                    <div class="jj15"></div>
                    <div class="ititle">出资方式</div>
                    <div class="icontent">{{holder.subcribeType}}</div>
                    <div class="jj15"></div>
            </div>
        </div>
        <!-- e: 股东信息 -->

        <!-- s: 网站或网店信息-->
        <div class="rdl11">
            <div class="rdl111">网站或网店信息</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 网站或网店信息 -->

        <!-- s: 对外投资-->
        <div class="rdl11">
            <div class="rdl111">对外投资</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 对外投资 -->

        <!-- s: 企业资产状况信息-->
        <div class="rdl11">
            <div class="rdl111">企业资产状况信息</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 企业资产状况信息 -->

        <!-- s: 对外提供保证担保信息-->
        <div class="rdl11">
            <div class="rdl111">对外提供保证担保信息</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 对外提供保证担保信息 -->

        <!-- s: 股权变更信息-->
        <div class="rdl11">
            <div class="rdl111">股权变更信息</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 股权变更信息 -->

        <!-- s: 修改记录-->
        <div class="rdl11">
            <div class="rdl111">修改记录</div>
            <!--<div class="rdl112"></div>-->
            <div class="noInfo">暂无</div>
        </div>
        <!-- e: 修改记录 -->
    </content>
</div>
