<!--
<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/investa.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
  
 </head>

<body style="background-color:#FFF">
-->
<div class="investa">
	<div class="header">
		企业资讯
		<div class="leftjj"><a href="/index"><</a></div>
		<div class="rightwz"><a href="errorcorrect">纠错</a></div>
	</div>
	<div class="investa1">
		<div class="investa11" ng-repeat="corpinfo in Corpinfo.rows" onClick="window.location.href='/corpinfod'">
			<div class="investa111">{{corpinfo.companyName}}</div>
			<div class="investa112">
				<div class="investa1122 fl wb40 tin">来源：{{corpinfo.newsFrom}}</div><div class="">{{corpinfo.newsTime}}</div>
			</div>
		</div>
	</div>
</div>