<div class="investa">
	<div class="mycenter_header">
		<ul>
			<li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
			<li class="li_2">企业资讯</li>
			<li class="li_3"><a href="/errorcorrect">纠错</a></li>
			<br style="clear: both;" />
		</ul>
	</div>
	<div class="investa1">
		<div ng-repeat="corpinfo in Corpinfo.rows" >
			<a ng-href="/corpinfod?id={{corpinfo.id}}">
				<div class="investa11">
					<div class="investa111">{{corpinfo.newsName}}</div>
					<div class="investa112">
						<div class="investa1122 fl wb40 tin">来源：{{corpinfo.newsFrom}}</div>
						<div class="">{{corpinfo.newsTime}}</div>
					</div>
				</div>
				<div ng-if="!Corpinfo || Corpinfo.rows.length == 0" style="margin:10% 0 0 40%;">
					暂无内容
				</div>
			</a>
		</div>
	</div>
</div>
