
<div class="law_book">
    <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/shixin_details"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">法院判决书</li>
            <li class="li_3" style="padding: 7px 0 0 0;"><a href="#"><img src="../../images/pic_5.png"></a></li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="lawbook_con">
        <div class="lawbook_con1">
            <h3>丹东通宇建筑工程公司与丹东客来多购物广场有限公司、丹东市金源判监督民事限公司、丹东市判决书</h3>
            <em>提交时间：2015-10-10</em>
        </div>
        <div class="lawbook_con2">
            <p>抗诉机关：中华人民共和国最高人民检察院。</p>
            <p>申诉人（一审原告、二审被上诉人）：丹东通宇建筑工程公司。</p>
            <p>法定代表人：于涛，该公司副经理。</p>
            <p>委托代理人：刘相文，北京市金杜律师事务所律师。</p>
            <p>委托代理人：陈湘林，北京市金杜律师事务所律师。</p>
            <p>被申诉人（一审第三人、二审上诉人）：丹东客来多购物广场有限公司。</p>
            <p>法定代表人：王世洋，该公司董事长。</p>
            <p class="p_1">审本案。本院依法组成合议庭，公开开庭审理了本案。最高人民检份工程款支付明细表，确认金源公司应支付通宇公司工程款为16846516元。2006年10月13日，丹东市仲裁委员会作出丹仲裁字（2006）第80号裁决书，裁决金源公司自裁决书作出之日起10日内给付通宇公司款项共计人民币16846516元，并承担仲裁费63720元。</p>
            <p class="p_1">2002年1月31日，金源公司与丹东客来多购物广场有限公司（以下简称丹东客来多公司）签订《关于商业用房转让协议》，约定将金源公司所有的位于丹东市振兴区五经街51号的1-2层商业用房转让给丹东客来多公司，建筑面积100元，其他诉讼费140元，合计240元，由金源公司负担。</p>
        </div>
        <div class="lawbook_con3">
            <p>审　判　长　　陈　佳</p>
            <p>代理审判员　　丁俊峰</p>
            <p>代理审判员　　邱　明</p>
            <p class="p_2">二〇一四年十二月四日</p>
            <p>书　记　员　　钱雪娟</p>
        </div>
    </div>
</div>

