<div class="prompt">
		<div class="search_header">
	        <p><a href="/index"><img src="../../images/icon_2.png"></a></p>
	        <ul>
	            <li class="li_one"><a href="#"><img src="../../images/Oval 81 + Line@3x.png"></li>
	            <li class="li_two">
	            <form action="#" method="post">
	            <input placeholder="请输入法定代表人或股东名" type="text" ng-model="txt"/>
	            </form>
	            </li>  
	                <li class="li_three" ng-show="txt != 0"><img src="../../images/change@3x.png"></li>
	            <br style="clear: both;"/>
	        </ul>
	    </div>

	    <div class="prompt_1">
	    	<p><img src="../../images/no_info@3x.png"></p>
	    	<p>暂无结果</p>
	    </div>

	    <div class="prompt_2">
	    	<p><img src="../../images/wifi_errors@3x.png"></p>
	    	<p>网络异常</p>
	    	<p class="p_3">重新加载</p>
	    </div>

	    <div class="prompt_3">
	    	<p><img src="../../images/Group-2@3x.gif"></p>
	    	<p>加载中</p>
	    </div>

</div>