<div class="search_area">
    <div class="search_header">
        <p>
            <a href="/index"><img src="../../images/icon_2.png"></a>
        </p>
        <!-- s: Search Area -->
        <ul>
            <li class="li_one" onclick="javascript :history.back(-1)"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two">
                <input type="text"  placeholder="请输入企业名称" ng-model="searchBox" ng-show="'qiye' == type"/>
                <input type="text" placeholder="请输入法人或股东姓名" ng-model="searchBox" ng-show="'faren' == type"/>
                <input type="text" placeholder="请输入失信者姓名" ng-model="searchBox" ng-show="'shixin' == type"/>
            </li>
            <!-- Empty button -->
            <li class="li_three" ng-show="searchBox" ng-click="searchBox=''">
                <img src="../../images/change@3x.png">
            </li>
        </ul>
        <!-- e: Search Area -->
    </div>
    <!-- s: Tabs -->
    <div class="searcharea_con">
        <ul>
            <li ng-class="{current: 'qiye' == type}" ng-click="type='qiye';searchBox=''">企业</li>
            <li ng-class="{current: 'faren' == type}" ng-click="type='faren';searchBox=''">法人/股东</li>
            <li ng-class="{current: 'shixin' == type}" ng-click="type='shixin';searchBox=''">失信</li>
        </ul>
    </div>
    <!-- e: Tabs -->

    <!-- s: qiye -->
    <div class="search_pre searchbusiness_con1" ng-if="'qiye' == type">
<!--        onClick="window.location.href='/search_area'"-->
        <h1 >搜索范围：<span>全国</span><em><img src="../../images/pic_3.png"></em></h1>
        <ul ng-repeat="qiye in qiyeList.rows">
            <a ng-href="/compdet?id={{qiye.id}}&sts={{qiye.sts}}">
                <p>{{qiye.companyName}}</p>
                <li class="li_one"><img src="../../images/company_list@3x.png"></li>
                <li>公司法人：{{qiye.company}}</li>
                <li class="li_three">在营（开业）企业</li>
                <div style="clear: both;"></div>
            </a>
        </ul>
        <div ng-if="!qiyeList" style="padding:20px 0 20px 40%;">
            暂无内容
        </div>
        <div class="load_more" ng-if="qiyeList.moreDataCanBeLoaded" ng-click="qiyeLoadMore()">
            <!-- <img src="../../images/loading@3x.png"> -->
            载入更多...
        </div>
        <div class="load_more" ng-if="!qiyeList.moreDataCanBeLoaded">
            没有更多
        </div>
    </div>
    <!-- e: qiye -->

    <!-- s: faren/gudong -->
    <div class="search_pre searchpeople_con1" ng-if="'faren' == type">
        <h1 onClick="window.location.href='/search_area'">搜索范围：<span>全国</span><em><i>搜索信息过多，请按地区筛选</i><img src="../../images/pic_3.png"></em></h1>
        <ul ng-repeat="Shareholder in stockMsgList.rows">
            <a href="/shareholderinfo">
                <p>{{Shareholder.name}}</p>
                <li class="li_one"><img src="../../images/company@3x.png"></li>
                <li>香港万国商业网</li>
                <li class="li_three">在营（开业）企业</li>
                <br style="clear: both;" />
            </a>
        </ul>
        <div class="load_more" ng-if="stockMsgList.moreDataCanBeLoaded" ng-click="stockMsgLoadMore()">
            <!-- <img src="../../images/loading@3x.png"> -->
            载入更多...
        </div>
        <div class="load_more" ng-if="!stockMsgList.moreDataCanBeLoaded">
            没有更多
        </div>
    </div>
    <!-- e: faren/gudong -->

    <!-- s: shixin -->
    <div class="search_pre shixinbs_con1" ng-if="'shixin' == type">
        <h1 onClick="window.location.href='/search_area'">搜索范围：<span>全国</span><em><img src="../../images/pic_3.png"></em></h1>
        <ul ng-repeat="dishonesty in occupationList.rows">
            <a href="/shixin_details">
                <p>{{dishonesty.iname}}</p>
                <li class="li_two">
                    <span><img src="../../images/qiyehao@3x.png">{{dishonesty.cardnum}}</span>
                    <em><img src="../../images/address@3x.png">{{dishonesty.areaname}}</em>
                    <br style="clear: both;" />
                </li>
                <li class="li_three"><img src="../../images/qiyehao@3x.png">{{dishonesty.casecode}}</li>
            </a>
        </ul>
        <div ng-if="!occupationList" style="padding:20px 0 20px 40%;">
            暂无内容
        </div>
    </div>
    <!-- e: shixin -->
</div>
