

<div class="search_area">
    <div class="search_header">
        <p><a href="/search_people"><img src="../../images/icon_2.png"></a></p>
        <ul>
            <li class="li_one"><a href="#"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two"><input placeholder="请输入法定代表人或股东名"/></li>  
            <li class="li_three"><img src="../../images/change@3x.png"></li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="searcharea_con">
        <ul>
            <li>企业</li>
            <li class="current">法人/股东</li>
            <li>失信</li>
             <br style="clear: both;" />
        </ul>
        
        <p style="color: #a0a0a0;">搜索范围：<span>全国</span><em><img src="../../images/icon_5.png"></em></p>
        <div class="searcharea_con1">
            <p>全国</p>
            <p>北京</p>
            <p>河北</p>
            <p>山西</p>
            <p>内蒙古</p>
            <p>辽宁</p>
            <p>黑龙江</p>
            <p>北京</p>
            <p>河北</p>
            <p>山西</p>
            <p>内蒙古</p>s
            <p>辽宁</p>
            <p>黑龙江</p>
        </div>
    </div>
</div>



<script>
    $(function(){
        $('.search_pre:first').show().siblings('.search_pre').hide();
        $('.searcharea_con ul li').click(function(){
            $(this).addClass('current').siblings('li').removeClass('current');
            num = $(this).index();
            $('.search_pre').eq(num).show().siblings('.search_pre').hide()
        });
    });
</script>