
<div id="search_area">
    <div id="search_header">
        <p><a href="#"><img src="../../images/icon_2.png"></a></p>
        <ul>
            <li class="li_one"><a href="#"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two">请输入法定代表人或股东名</li>  
            <li class="li_three"><img src="../../images/change@3x.png"></li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div id="searcharea_con">
        <ul>
            <li><a href="#">企业</a></li>
            <li class="current"><a href="#">法人代表</a></li>
            <li><a href="#">失信</a></li>
             <br style="clear: both;" />
        </ul>
        <p>搜索范围：<span>全国</span><em><img src="../../images/icon_5.png"></em></p>
        <div id="searcharea_con1">
            <p><a href="#">全国</a></p>
            <p><a href="#">北京</a></p>
            <p><a href="#">河北</a></p>
            <p><a href="#">山西</a></p>
            <p><a href="#">内蒙古</a></p>
            <p><a href="#">辽宁</a></p>
            <p><a href="#">黑龙江</a></p>
            <p><a href="#">北京</a></p>
            <p><a href="#">河北</a></p>
            <p><a href="#">山西</a></p>
            <p><a href="#">内蒙古</a></p>
            <p><a href="#">辽宁</a></p>
            <p><a href="#">黑龙江</a></p>
        </div>
    </div>
</div>

