

<div class="search_area">
    <div class="search_header">
        <p><a href="#"><img src="../../images/icon_2.png"></a></p>
        <ul>
            <li class="li_one" onclick="document.location='/index'"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two">
            <form action="#" method="post">
            <input placeholder="请输入法定代表人或股东名" type="text" ng-model="txt"/>
            </form>
            </li>  
                <li class="li_three" ng-show="txt != 0"><img src="../../images/change@3x.png"></li>
            <br style="clear: both;"/>
        </ul>
    </div>
    <div class="searcharea_con">
        <ul>
            <li class="current">企业</li>
            <li>法人/股东</li>
            <li>失信</li>
            <div style="clear: both;"></div>
        </ul>
    </div>
    <div class="search_pre searchbusiness_con1">
        <h1>搜索范围：<span>全国</span><em><img src="../../images/pic_3.png"></em></h1>
         <ul ng-repeat="Searchpeople in Searchpeople.rows" onclick="document.location='/compdet'">
            <p>{{Searchpeople.companyName}}</p>
            <li class="li_one"><img src="../../images/company_list@3x.png"></li>
            <li>公司法人：{{Searchpeople.company}}</li>
            <li class="li_three">在营（开业）企业</li>
            <br style="clear: both;" />
        </ul>
        <div class="load_more"><img src="../../images/loading@3x.png">载入更多...</div>
    </div>



    <div class="search_pre searchpeople_con1">
        <h1>搜索范围：<span>全国</span><em><i>搜索信息过多，请按地区筛选</i><img src="../../images/pic_3.png"></em></h1>
        <ul ng-repeat="Shareholder in Shareholder.rows" onclick="document.location='/shareholderinfo'">
          <p>{{Shareholder.name}}</p>
          <li class="li_one"><img src="../../images/company@3x.png"></li>
          <li>香港万国商业网</li>
          <li class="li_three">在营（开业）企业</li>
          <br style="clear: both;" />
        </ul>
        <div class="load_more"><img src="../../images/loading@3x.png">载入更多...</div>
    </div>


     <div class="search_pre shixinbs_con1">
        <h1>搜索范围：<span>全国</span><em><img src="../../images/pic_3.png"></em></h1>
        <ul>
             <p>天虹中国保险有限公司3</p>
             <li class="li_two">
               <span><img src="../../images/qiyehao@3x.png">510234135123***23455</span>
               <em><img src="../../images/address@3x.png">四川</em>
               <br style="clear: both;" />
             </li>
             <li class="li_three"><img src="../../images/qiyehao@3x.png">(2013)宜宾执笔第00137号</li>
         </ul>
         <div class="load_more"><img src="../../images/loading@3x.png">载入更多...</div>
    </div>



</div>
<script>
    $(function(){
        $('.search_pre:first').show().siblings('.search_pre').hide();
        $('.searcharea_con ul li').click(function(){
            $(this).addClass('current').siblings('li').removeClass('current');
            num = $(this).index();
            $('.search_pre').eq(num).show().siblings('.search_pre').hide()
        });
    });
</script>