
<div class="search_record">
    <div class="search_header">
        <p><a href="#"><img src="../../images/icon_2.png"></a></p>
        <ul>
            <li class="li_one"><a href="#"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two"><input placeholder="请输入法定代表人或股东名"/></li>  
            <li class="li_three"><img src="../../images/change@3x.png"></li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="record_con">
        <p>最近搜索</p>
        <ul class="ul_one">
            <li><a href="#">金融</a></li>
            <li><a href="#">担保公司</a></li>
            <li><a href="#">平顶山资产管理</a></li>
            <li><a href="#">华东电器</a></li>
            <li><a href="#">天虹中国保险有限公司</a></li>
            <li><a href="#">金融</a></li>
            <li><a href="#">担保公司</a></li>
            <li><a href="#">平顶山资产管理</a></li>
            <li><a href="#">华东电器</a></li>
            <br style="clear: both;" />
        </ul>
        <ul class="ul_two">
            <li class="li_one"><a href="#"><img src="../../images/clear_history_over@3x.png"><span>清除历史</span></a></li>
            <li class="li_two"><a href="#"><img src="../../images/clear_history@2x.png">清除历史</a></li>
            <br style="clear: both;" />
        </ul>

        <p class="p_1">我的关注</p>
        <ul class="ul_three">
            <p>天虹中国保险有限公司</p>
            <li class="li_one"><img src="../../images/company_list@3x.png"></li>
            <li>公司法人：尹维安</li>
            <li class="li_three">在营（开业）企业</li>
            <br style="clear: both;" />
        </ul>
        <ul class="ul_three">
            <p>上海华东电器集团</p>
            <li class="li_one"><img src="../../images/company_list@3x.png"></li>
            <li>公司法人：尹维安</li>
            <li class="li_three">在营（开业）企业</li>
            <br style="clear: both;" />
        </ul>
        <ul class="ul_three">
            <p>北京锤子股份有限公司</p>
            <li class="li_one"><img src="../../images/company_list@3x.png"></li>
            <li>公司法人：尹维安</li>
            <li class="li_three">在营（开业）企业</li>
            <br style="clear: both;" />
        </ul>
        <ul class="ul_three">
            <p>中关村创业大街</p>
            <li class="li_one"><img src="../../images/company_list@3x.png"></li>
            <li>公司法人：尹维安</li>
            <li class="li_three">在营（开业）企业</li>
            <br style="clear: both;" />
        </ul>

    </div>
</div>


