<div class="search_area">
    <div class="search_header">
        <p>
            <a href="/index"><img src="../../images/icon_2.png"></a>
        </p>
        <!-- s: Search Area -->
        <ul>
            <li class="li_one" onclick="javascript :history.back(-1)"><img src="../../images/Oval 81 + Line@3x.png"></li>
            <li class="li_two">
                <input type="text"  placeholder="请输入企业名称" ng-model="searchBox" ng-show="'qiye' == type"/>
                <input type="text" placeholder="请输入法人或股东姓名" ng-model="searchBox" ng-show="'faren' == type"/>
                <input type="text" placeholder="请输入涉诉人名称" ng-model="searchBox" ng-show="'shixin' == type"/>
            </li>
            <!-- Empty button -->
            <li class="li_three" ng-show="searchBox" ng-click="searchBox=''">
                <img src="../../images/change@3x.png">
            </li>
        </ul>
        <!-- e: Search Area -->
    </div>
    <!-- s: Tabs -->
    <div class="searcharea_con">
        <ul>
            <li ng-class="{current: 'qiye' == type}" ng-click="type='qiye';searchBox=''">企业</li>
            <li ng-class="{current: 'faren' == type}" ng-click="type='faren';searchBox=''">法人/股东</li>
            <li ng-class="{current: 'shixin' == type}" ng-click="type='shixin';searchBox=''">失信</li>
        </ul>

        <!-- s: Select Area -->
        <h1 ng-click="isShowArea = !isShowArea">
            搜索范围：
            <span ng-show="!address">全国</span>
            <span>{{address}}</span>
            <em>
                <img src="../../images/pic_3.png" ng-show="!isShowArea">
                <img src="../../images/icon_5.png" ng-show="isShowArea">
            </em>
        </h1>
        <div class="searcharea_con1" ng-show="isShowArea">
            <p ng-click="address = ''"> 全国</p>
            <p ng-click="address = '北京'"> 北京</p>
            <p ng-click="address = '天津'"> 天津</p>
            <p ng-click="address = '上海'"> 上海</p>
            <p ng-click="address = '重庆'"> 重庆</p>
            <p ng-click="address = '河北'"> 河北</p>
            <p ng-click="address = '河南'"> 河南</p>
            <p ng-click="address = '云南'"> 云南</p>
            <p ng-click="address = '辽宁'"> 辽宁</p>
            <p ng-click="address = '黑龙江'"> 黑龙江</p>
            <p ng-click="address = '湖南'"> 湖南</p>
            <p ng-click="address = '安徽'"> 安徽</p>
            <p ng-click="address = '山东'"> 山东</p>
            <p ng-click="address = '新疆维吾尔'"> 新疆维吾尔</p>
            <p ng-click="address = '江苏'"> 江苏</p>
            <p ng-click="address = '浙江'"> 浙江</p>
            <p ng-click="address = '江西'"> 江西</p>
            <p ng-click="address = '湖北'"> 湖北</p>
            <p ng-click="address = '广西'"> 广西</p>
            <p ng-click="address = '甘肃'"> 甘肃</p>
            <p ng-click="address = '山西'"> 山西</p>
            <p ng-click="address = '内蒙古'"> 内蒙古</p>
            <p ng-click="address = '陕西'"> 陕西</p>
            <p ng-click="address = '吉林'"> 吉林</p>
            <p ng-click="address = '福建'"> 福建</p>
            <p ng-click="address = '贵州'"> 贵州</p>
            <p ng-click="address = '广东'"> 广东</p>
            <p ng-click="address = '青海'"> 青海</p>
            <p ng-click="address = '西藏'"> 西藏</p>
            <p ng-click="address = '四川'"> 四川</p>
            <p ng-click="address = '宁夏'"> 宁夏</p>
            <p ng-click="address = '海南'"> 海南</p>
            <p ng-click="address = '台湾'"> 台湾</p>
            <p ng-click="address = '香港'"> 香港</p>
            <p ng-click="address = '澳门'"> 澳门</p>
        </div>
        <!-- e: Select Area -->
    </div>
    <!-- e: Tabs -->

    <!-- s: qiye -->
    <div class="search_pre searchbusiness_con1" ng-if="'qiye' == type">
        <ul ng-repeat="qiye in qiyeList.rows">
            <a ng-href="/compdet?id={{qiye.id}}">
                <p>{{qiye.companyName}}</p>
                <li class="li_one"><img src="../../images/company_list@3x.png"></li>
                <li>公司法人：{{qiye.legalRepPersion}}</li>
                <li class="li_three">{{qiye.managementStatus}}</li>
                <div style="clear: both;"></div>
            </a>
        </ul>
        <div ng-if="!qiyeList" style="padding:20px 0 20px 40%;">
            暂无内容
        </div>
        <div class="load_more" ng-if="qiyeList.moreDataCanBeLoaded" ng-click="qiyeLoadMore()">
            载入更多...
        </div>
        <div class="load_more" ng-if="!qiyeList.moreDataCanBeLoaded">
            没有更多
        </div>
    </div>
    <!-- e: qiye -->

    <!-- s: faren/gudong -->
    <div class="search_pre searchpeople_con1" ng-if="'faren' == type">
        <ul ng-repeat="faren in farenList.rows">
            <a href="/shareholderinfo">
                <p>{{faren.name}}</p>
                <li class="li_one"><img src="../../images/company@3x.png"></li>
                <li>$ 香港万国商业网</li>
                <li class="li_three">{{faren.recordStatus}}</li>
                <br style="clear: both;" />
            </a>
        </ul>
        <div ng-if="!farenList" style="padding:20px 0 20px 40%;">
            请输入法人或股东姓名
        </div>
        <div ng-if="farenList && farenList.rows.length == 0" style="padding:20px 0 20px 40%;">
            暂无内容
        </div>
        <div ng-if="farenList && farenList.rows.length > 0 && farenList.moreDataCanBeLoaded" ng-click="farenLoadMore()" style="padding:20px 0 20px 40%;">
            载入更多...
        </div>
        <div ng-if="farenList && farenList.rows.length > 0 && !farenList.moreDataCanBeLoaded" style="padding:20px 0 20px 40%;">
            没有更多
        </div>
    </div>
    <!-- e: faren/gudong -->

    <!-- s: shixin -->
    <div class="search_pre shixinbs_con1" ng-if="'shixin' == type">
        <ul ng-repeat="shixin in shixinList.rows">
            <a href="/shixin_details">
                <p>{{shixin.iname}}</p>
                <li class="li_two">
                    <span><img src="../../images/qiyehao@3x.png">{{shixin.cardnum}}</span>
                    <em><img src="../../images/address@3x.png">{{shixin.areaname}}</em>
                    <br style="clear: both;" />
                </li>
                <li class="li_three"><img src="../../images/qiyehao@3x.png">{{shixin.casecode}}</li>
            </a>
        </ul>
        <div ng-if="!shixinList" style="padding:20px 0 20px 40%;">
            请输入涉诉人名称
        </div>
        <div ng-if="shixinList && shixinList.rows.length == 0" style="padding:20px 0 20px 40%;">
            暂无内容
        </div>
        <div ng-if="shixinList && shixinList.rows.length > 0 && shixinList.moreDataCanBeLoaded" ng-click="shixinLoadMore()" style="padding:20px 0 20px 40%;">
            载入更多...
        </div>
        <div ng-if="shixinList && shixinList.rows.length > 0 && !shixinList.moreDataCanBeLoaded" style="padding:20px 0 20px 40%;">
            没有更多
        </div>
    </div>
    <!-- e: shixin -->
</div>
