
	<div class="investa">
		<!-- <div class="header">
		主要成员
		<div class="leftjj" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></div>
		<div class="rightwz"><a href="errorcorrect">纠错</a></div>
		</div> -->

		 <div class="mycenter_header">
	        <ul>
	            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
	            <li class="li_2">主要成员</li>
	            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
	            <br style="clear: both;" />
	        </ul>
        </div>
		<div class="investa1">
			<div class="leadmem" onClick="window.location.href='/shareholderinfo'" ng-repeat="leadpeople in leadpeople.rows" >
				<div class="leadmem1"></div>
				<div class="leadmem2">
					  <div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div>
					  <div class="leadmem22">
						  <div class="leadmem221">{{leadpeople.persionName}}</div>
						  <div class="leadmem221">{{leadpeople.jobName}}</div>
					  </div>
				</div>
			</div>
			<!-- <div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div> -->
		</div>
	</div>
