<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>失信榜单</title>
<meta name="description" content="简介">
<meta name="keywords" content="关键字">
<link rel="stylesheet" type="text/css" href="css/styles.css"/>
<link rel="stylesheet" type="text/css" href="css/reset.css"/>

<script src=""></script>
</head>

<body>
<div id="nopromise_details">
     <div id="mycenter_header">
            <ul>
                <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
                <li class="li_2">失信榜单详情</li>
                <br style="clear: both;" />
            </ul>
     </div>
     <div id="details_con">
         <p>辽宁腾虹有限公司</p>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">省份</li>
             <li class="li_two">辽宁</li>
         </ul>
         <ul>
             <li class="li_one">执行依据文号</li>
             <li class="li_two">（2014）湘民一初字第155号</li>
         </ul>
         <ul>
             <li class="li_one">执行法案</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">34234663435364</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
     </div>
</div>
</body>
</html>
