
<div class="nopromise_all">
	<div class="mycenter_header1">
        <ul>
            <li class="li_1"><a href="/index"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">不良信用查询系统</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="no_all_top">
    	<ul>
    		<li>
    			<span>失信企业</span>
    			<em>3万</em>
    		</li>
    		<li>
    			<span>失信个人</span>
    			<em>75万</em>
    		</li>
    		<li class="li_three">
    			<span>涉及金额总计</span>
    			<em>7515亿万</em>
    		</li>
    	    <br style="clear: both;" />
    	</ul>
    </div>


    <div class="no_all_con">
        <div class="no_all_con1">
        	<div class="p_1 p_one" ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true">失信行业
               <em>TOP<i>10</i></em>
               <div ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true" style="float: right;margin-top: 15px;"></div> 
               <div style="clear: both;"></div>
            </div>
           
        	<ul>
        		<li class="li_one">房地产开发经营</li>
        		<li class="li_two">2，6578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">房屋工程建筑</li>
        		<li class="li_two">1,7578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">金属及金属矿批发</li>
        		<li class="li_two">2，1578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">房地产开发经营</li>
        		<li class="li_two">2，6578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">房屋工程建筑</li>
        		<li class="li_two">1,7578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">金属及金属矿批发</li>
        		<li class="li_two">2，1578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">房地产开发经营</li>
        		<li class="li_two">2，6578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul>
        		<li class="li_one">房屋工程建筑</li>
        		<li class="li_two">1,7578</li>
        		<br style="clear: both;" />
        	</ul>
        	<ul style="padding: 7px 0 20px 0;">
        		<li class="li_one">金属及金属矿批发</li>
        		<li class="li_two">2，1578</li>
        		<br style="clear: both;" />
        	</ul>
        </div>


    	<div class="no_all_con2">
    		<!-- <p class="p_one">失信企业<em>TOP<i>10</i></em><span><img src="../../images/upbottom@3x.png"></span></p> -->
    		
            <div class="p_2 p_one" ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true">失信企业
              <em>TOP<i>10</i></em>
               <div ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true" style="float: right;margin-top: 15px;"></div> 
               <div style="clear: both;"></div>
            </div>


    		<ul class="ul_one">
    			<li class="li_one">01</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul class="ul_one">
    			<li class="li_one">02</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul>
    			<li class="li_one">03</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul>
    			<li class="li_one">04</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul>
    			<li class="li_one">05</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul class="ul_last">
    			<li class="li_one">06</li>
    			<li class="li_two">黄石盛行海运有限公司</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    	</div>


    	<div class="no_all_con3">
    	    <!-- <p class="p_one">失信个人<em>TOP<i>10</i></em><span><img src="../../images/upbottom@3x.png"></span></p> -->
            <div class="p_3 p_one" ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true">失信个人
              <em>TOP<i>10</i></em>
               <div ng-class="{arrow2:isUp,arrow3:!isUp}" ng-click="isUp=!isUp" ng-init="isUp=true" style="float: right;margin-top: 15px;"></div> 
               <div style="clear: both;"></div>
            </div>

    		<ul class="ul_one">
    			<li class="li_one">01</li>
    			<li class="li_two">
    				<b class="p_first">尹维安<span><em><img src="../../images/address@3x.png"></em>黑龙江</span></b>
    				<br style="clear: both;" />
    				<strong class="p_sec"><em><img src="../../images/qiyehao@3x.png"></em>510234135123***23455</strong>
    			</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul class="ul_one">
    			<li class="li_one">02</li>
    			<li class="li_two">
    				<b class="p_first">尹维安<span><em><img src="../../images/address@3x.png"></em>黑龙江</span></b>
    				<br style="clear: both;" />
    				<strong class="p_sec"><em><img src="../../images/qiyehao@3x.png"></em>510234135123***23455</strong>
    			</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul>
    			<li class="li_one">03</li>
    			<li class="li_two">
    				<b class="p_first">尹维安<span><em><img src="../../images/address@3x.png"></em>黑龙江</span></b>
    				<br style="clear: both;" />
    				<strong class="p_sec"><em><img src="../../images/qiyehao@3x.png"></em>510234135123***23455</strong>
    			</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
            <ul>
    			<li class="li_one">04</li>
    			<li class="li_two">
    				<b class="p_first">尹维安<span><em><img src="../../images/address@3x.png"></em>黑龙江</span></b>
    				<br style="clear: both;" />
    				<strong class="p_sec"><em><img src="../../images/qiyehao@3x.png"></em>510234135123***23455</strong>
    			</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    		<ul class="ul_last">
    			<li class="li_one">05</li>
    			<li class="li_two">
    				<b class="p_first">尹维安<span><em><img src="../../images/address@3x.png"></em>黑龙江</span></b>
    				<br style="clear: both;" />
    				<strong class="p_sec"><em><img src="../../images/qiyehao@3x.png"></em>510234135123***23455</strong>
    			</li>
    			<li class="li_three"><span>345</span>次</li>
    			<br style="clear: both;" />
    		</ul>
    	</div>
    	<p class="p_one">失信企业地狱分布<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
<!--     	<br style="clear: both;" /> -->
    	<p>欠薪公司<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    	<p>投资黑名单<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    	<p>中介<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    	<p>旅游类黑名单<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    	<p>保险类黑名单<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    	<p>医药类黑名单<em>TOP<i>10</i></em><span><img src="../../images/pic_1.png"></span></p>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.no_all_con1 .p_1').click(function(){
            $('.no_all_con1 ul').slideToggle('1000');
        });

        $('.no_all_con2 .p_2').click(function(){
            $('.no_all_con2 ul').slideToggle('1000');
           
        });

        $('.no_all_con3 .p_3').click(function(){
            $('.no_all_con3 ul').slideToggle('1000');
           /* $('.nopromise_all .no_all_con div.p_one').css('border-bottom':'none');*/
          
        });
    });
</script>