
<div class="nopromise_details">
     <div class="mycenter_header">
            <ul>
                <li class="li_1"><a href="/nopromise_business"><img src="../../images/icon_2.png"></a></li>
                <li class="li_2">失信榜单详情</li>
                <br style="clear: both;" />
            </ul>
     </div>
     <div class="details_con">
         <p>辽宁腾虹有限公司</p>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">省份</li>
             <li class="li_two">辽宁</li>
         </ul>
         <ul>
             <li class="li_one">执行依据文号</li>
             <li class="li_two">（2014）湘民一初字第155号</li>
         </ul>
         <ul>
             <li class="li_one">执行法案</li>
             <li class="li_two">544934234552345666</li>
         </ul>
          <ul>
           <li class="li_one">案号</li>
           <li class="li_two">（2014）湘民一初字第155号</li>
         </ul>
          <ul>
           <li class="li_one">被执行的履行情况</li>
           <li class="li_two">全部未履行</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
         <ul>
             <li class="li_one">组织机构代码</li>
             <li class="li_two">544934234552345666</li>
         </ul>
        <ul>
           <li class="li_one">发布时间</li>
           <li class="li_two">2015-03-30</li>
         </ul>
     </div>
</div>
