<!DOCTYPE html>

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../../../css/shid.css" />
  
 </head>

<body style="background-color:#FFF">
	<div class="shid">
		<div class="header">
		股东信息
		<div class="leftjj"><</div>
		<div class="rightwz">纠错</div>
	</div>
	<div class="shid1">
		<div class="shid11">
			<div class="shid111">章婷婷</div>
			<div class="shid112">事业法人</div>
			<div class="shid113">
				<div class="shid1131">
					<div class="shid11311">出资时间</div>
					<div class="shid11312">2008年03月21日</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">认缴出资额</div>
					<div class="shid11312">2008.33万人民币</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">实缴时间</div>
					<div class="shid11312">2008年03月21日</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">实缴出资额</div>
					<div class="shid11312">2008.33万人民币</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">出资方式</div>
					<div class="shid11312">货币</div>
				</div>
			</div>
		</div>
	</div>
	<div class="shid2"></div>
	<div class="shid1">
		<div class="shid11">
			<div class="shid111">北京阿里巴巴股份有限公司</div>
			<div class="shid112">事业法人</div>
			<div class="shid113">
				<div class="shid1131">
					<div class="shid11311">出资时间</div>
					<div class="shid11312">2008年03月21日</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">认缴出资额</div>
					<div class="shid11312">2008.33万人民币</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">实缴时间</div>
					<div class="shid11312">2008年03月21日</div><div class="shid11312">2008年03月21日</div><div class="shid11312">2008年03月21日</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">实缴出资额</div>
					<div class="shid11312">2008.33万人民币</div><div class="shid11312">2008.33万人民币</div><div class="shid11312">2008.33万人民币</div>
				</div>
				<div class="shid1131">
					<div class="shid11311">出资方式</div>
					<div class="shid11312">货币</div>
				</div>
			</div>
		</div>
	</div>

	</div>
</body>
</html>