<div class="mycenter_myfocus">
    <div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">股东信息</li>
            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="myfocus" onClick="window.location.href='/shareholderinfod'" ng-repeat="Shareholder in holders.rows">
        <p>{{Shareholder.name}}</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">{{Shareholder.stockType}}</li>
            <li class="li_three">{{Shareholder.recordStatus}}</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div ng-if="0 == holders.rows.length">
        暂无股东信息
    </div>
</div>
