<div class="mycenter_myfocus">
     <div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">股东信息</li>
            <li class="li_3" onclick="javascript :history.back(-1)">纠错</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="myfocus" onClick="window.location.href='/shareholderinfod'" ng-repeat="Shareholder in Shareholder.rows">
        <p>{{Shareholder.name}}</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人:企业法人</li>
            <li class="li_three">存续</li>
            <br style="clear: both;" />
        </ul>
    </div>
</div>