 <div class="mycenter_header">
	        <ul>
	            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
	            <li class="li_2">对外投资</li>
	            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
	            <br style="clear: both;" />
	        </ul>
 </div>
<div style="width:100%;height:100%">
	<div ng-repeat="item in investAbroadArray"  style="width:95%;height:60px;background-color:white;border-bottom:1px solid #b3b3b3;margin-left:2.5%;margin-right:2.5%">
		<span>{{item.companyId}}</span>
	</div>
    <div ng-if="item == null" style="padding:20px 0 20px 40%;">
         暂无内容
    </div>
</div>
 



<!--
 <div class="mycenter_header">
	        <ul>
	            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
	            <li class="li_2">对外投资</li>
	            <li class="li_3"><a href="/errorcorrect">纠错</a></li>
	            <br style="clear: both;" />
	        </ul>
 </div>-->
