
	<div class="investa">
		<div class="header">
		主要成员
		<div class="leftjj"><</div>
		<div class="rightwz">纠错</div>
		</div>
		<div class="investa1">
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
			<div class="leadmem">
				<div class="leadmem1"></div>
				<div class="leadmem2"><div class="leadmem21"><img src="../../../images/qq_friends@3x.png" /></div><div class="leadmem22"><div class="leadmem221">柳传志</div><div class="leadmem221">董事</div></div></div>
			</div>
		</div>
	</div>
