<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/investa.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
  
 </head>

<body style="background-color:#f2f2f2">
	<div class="investa">
		<div class="header">
		主要成员
		<div class="leftjj"><</div>
		<div class="rightwz">纠错</div>
		</div>
		<div class="indana">
			<div class="zzc"></div>
			<div class="indanalist">
				<div class="indanalist1"><div class="indanalist11">行业企业总数量</div><div class="indanalist12">></div></div>
				<div class="indanalist1"><div class="indanalist11">行业企业总数量</div><div class="indanalist12">></div></div>
				<div class="indanalist1"><div class="indanalist11">行业企业总数量</div><div class="indanalist12">></div></div>
				<div class="indanalist1"><div class="indanalist11">行业企业总数量</div><div class="indanalist12">></div></div>
				<div class="indanalist1"><div class="indanalist11">行业企业总数量</div><div class="indanalist12">></div></div>
			</div>
			<div class="indana1">
				<div class="indana11">
				<div class="indana111">历年注册企业数量</div><div class="indana112"><img src="../../../images/upbottom@3x.png" /></div>
				</div>
				<hr/>
				<div class="indana12"></div>
				<div class="indana13">行业：电子元件制造</div>
				<div class="indana14"></div>
			</div>
		</div>

	</div>
</body>

</html>