<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-width;user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="../../../css/investa.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
  
 </head>

<body style="background-color:#f2f2f2">
	<div class="investa">
		<div class="header">
		主要成员
		<div class="leftjj"><</div>
		<div class="rightwz">纠错</div>
		</div>
		<div class="indana">
			<div class="indana1">
				<div class="indana11"><div class="indana111"></div><div class="indana112"></div></div>
			</div>
		</div>

	</div>
</body>

</html>