<head>
    <link rel="stylesheet" href="/css/mobile-angular-ui-base.min.css">
    <link rel="stylesheet" href="/css/mobile-angular-ui-desktop.min.css">
    <link rel="stylesheet" href="/css/mobile-angular-ui-hover.min.css">
    <link rel="stylesheet" href="/css/mobile-angular-ui-migrate.min.css">
</head>
<div style="width: 100%; height: 40px">
	<div style="float:left;width:32px;height:37px">
		<img src="/images/icon_2.png">
	</div>
	<div style="float:left; width: calc(100% - 32px - 32px); width:-webkit-calc(100% - 32px - 32px); width: -moz-calc(100% - 32px - 32px);   width: -o-calc(100% - 32px - 32px); height: 37px">
		<div style="text-align:center">
			<span>行业分析</span>
		</div>
	</div>
	<div style="float:left;width:32px;height:37px;text-align:right">
			<span>纠错</span>
	</div>
</div>
<div style="width:100%;height:20px">
    <div class="btn-group pull-right">
        <a ui-turn-on='myDropdown{{idx}}' class='btn'>
    	   <img src="/images/upbottom@3x.png"/>
        </a>
        <ul 
           ui-state="myDropdown{{idx}}"
           class="dropdown-menu"
           ui-outer-click="Ui.turnOff('myDropdown' + idx)"
           ui-outer-click-if="Ui.active('myDropdown' + idx)"
           role="menu"
           ui-show="myDropdown{{idx}}"
           ui-turn-off="myDropdown{{idx}}">

           <li><a ng-click='setActiveItemIndex(1)'>行业企业总数量</a></li>
           <li><a ng-click='setActiveItemIndex(2)'>历年注册企业数量</a></li>
           <li><a ng-click='setActiveItemIndex(3)'>注册时间分布</a></li>
           <li><a ng-click='setActiveItemIndex(4)'>企业人员规模分布</a></li>
           <li><a ng-click='setActiveItemIndex(5)'>企业注册资金分布</a></li>
           <li><a ng-click='setActiveItemIndex(6)'>企业产品多样化分析</a></li>
        </ul>
    </div>
</div>
<div style="width:100%">
	<div ng-if='selectItemIndex == 1'>
		<highchart id="chart1" config="totalNumberOfIndustryChart"></highchart>
	</div>
	<div ng-if='selectItemIndex == 2'>
		<highchart id="chart2" config="numberOfEnterpriseForYearsChart"></highchart>
	</div>
	<div ng-if='selectItemIndex == 3'>
		<highchart id="chart3" config="registerTimeDistributeChart"></highchart>
	</div>
	<div ng-if='selectItemIndex == 4'>
		<highchart id="chart4" config="enterpriseEmployeeDistributeChart"></highchart>
	</div>
	<div ng-if='selectItemIndex == 5'>
		<highchart id="chart5" config="enterpriseRegisteredFoundDistributeChart"></highchart>
	</div>
	<div ng-if='selectItemIndex == 6'>
		<highchart id="chart6" config="enterpriseProductAnalysisChart"></highchart>
	</div>
</div>