<div class="login">
    <div class="login_top">
        <div class="login_toplf">
            <a href="/index"><img src="/images/login_back.png" width="13px"></a>
        </div>
        <div class="login_toprg">
            <a href="/register">注册</a>
        </div>
        <div class="clear"></div>
    </div>
    <!-- <div class="login_logo">
        <p><img src="/images/logo.png" width="40%"></p>
    </div> -->
    <div class="login_logo">
        <p><img src="/images/login_logo@3x.png"></p>
        <p class="p_1">企业+</p>
    </div>
    <div class="login_in">
        <form name="loginForm" novalidate>
            <div class="login_phone">
                <span><img src="/images/login_phone.png" height="25px"></span>
                <input type="text" placeholder="请输入手机号" ng-model="loginFormData.username" ng-pattern="/^1[3|4|5|8|7][0-9]{9}$/" required />
            </div>
            <div class="login_password">
                <span><img src="/images/login_passward.png" height="25px"></span>
                <input type="password" placeholder="请输入密码" ng-model="loginFormData.password" ng-maxlength="20" required />
            </div>
            <div>
                <p style="float:right;margin:15px 10% 15px 0;"><a href="/retrievepassword" style="color:#a0b3c0;">忘记密码</a></p>
                <div class="clear"></div>
            </div>
        </form>
        <div>
            <p style="text-align:center;"><a href="" ng-click="submitBtn()" ng-disabled="loginForm.$invalid"><img src="/images/login_button.png" height="44px"></a></p>
        </div>
    </div>
<!--
    <div class="quick_login">
        <p>快速登录</p>
        <div class="quick_loginde">
            <div class="login_qq">
                <p><img src="/images/login_qq.png" width="40px"></p>
                <p>QQ登录</p>
            </div>
            <div class="login_weibo">
                <p><img src="/images/login_weibo.png" width="40px"></p>
                <p>微博登录</p>
            </div>
            <div class="login_weixin">
                <p><img src="/images/login_weixin.png" width="40px"></p>
                <p>微信登录</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
-->
</div>
