<div class="register">
    <div class="register_top">
        <div class="register_toplf">
            <a href="/login"><img src="/images/login_back.png" width="13px"></a>
        </div>
        <div class="register_toprg">
            <p>注册</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="register_de">
        <div class="register_phone">
            <span>+86</span><input placeholder="请输入手机号" />
            <div class="clear"></div>
        </div>
        <div class="register_yzm">
            <input placeholder="请输入验证码"><a href="">获取验证码</a>
            <div class="clear"></div>
        </div>
        <div class="register_password">
            <input placeholder="密码为6-20位数字或字母">
        </div>
    </div>
    <div class="register_submit">
         <p><a href=""><img src="/images/complete.png" height="44px"></a></p>
        <p>点击"完成"则表示您同意<span>《服务协议》</span></p>
    </div>
</div>
