<div class="register">
    <div class="register_top">
        <div class="register_toplf">
            <a href="/login"><img src="/images/login_back.png" width="13px"></a>
        </div>
        <div class="register_toprg">
            <p>注册</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="register_de">
        <form class="list" name="registerForm" novalidate>
            <div class="register_phone">
                <span>+86</span><input placeholder="请输入手机号" type="text" ng-model="registerFormData.phoneNumber" ng-pattern="/^1[3|4|5|8|7][0-9]{9}$/" required/>
                <div class="clear"></div>
            </div>
            <div class="register_yzm">
                <input placeholder="请输入验证码" type="text" ng-model="registerFormData.captcha" required/>
                <a href="" ng-if="!countdown" ng-click="sendMobileCaptchaBtn()">获取验证码</a>
                <label ng-if="countdown" style="padding:5px 0 0 5px;">重新发送{{countdown}}</label>
                <div class="clear"></div>
            </div>
            <div class="register_password">
                <input placeholder="密码为6-20位数字或字母" type="password" ng-model="registerFormData.password" required/>
            </div>
        </form>
    </div>
    <div class="register_submit">
         <p><a href="" ng-click="submitBtn()"><img src="/images/complete.png" height="44px"></a></p>
        <p style="margin-top:10px;">点击"完成"则表示您同意<span>《服务协议》</span></p>
    </div>
</div>
