<div class="serve_deal">
	<div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)" style="padding-top: 0px;font-size: 14px;"><a href="#">关闭</a></li>
            <li class="li_2">服务协议</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="serve_con">
        <div class="serve_con1">
	    	<p class="p_1">传统产品转型升级，增厚业绩</p>
	    	<p class="p_2">此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。</p>
	    </div>
	    <div class="serve_con1">
	    	<p class="p_1">传统产品转型升级，增厚业绩</p>
	    	<p class="p_2">此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。</p>
	    </div>
	    <div class="serve_con1">
	    	<p class="p_1">传统产品转型升级，增厚业绩</p>
	    	<p class="p_2">此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。此次合作的密封圈、特种橡胶制品及压敏胶制品可以广泛用于航天航空、导弹、火箭、水下潜能等领域的防震、密封部位。</p>
	    </div>
    </div>
</div>