<div class="mycenter_aboutus">
        <div class="mycenter_header">
            <ul>
                <li class="li_1" onclick="javascript :history.back(-1)">
                   <img src="../../images/icon_2.png">
                </li>
                <li class="li_2">关于我们</li>
                <br style="clear: both;" />
            </ul>
        </div>

        <div class="aboutus_ban">
             <span><img src="../../images/login_logo@3x.png"></span>
             <p class="p_2">企业+</p>
             <p class="p_1">版本：1.0</p>
        </div>
        <div class="aboutus_con">
             <p>企业+是一款全面精准的企业信息查询工具，方便用户按多种维度：企业名称、法人代表、股东、失信人名称等，一键查询企业相关信息。如工商信息、企业图谱、行业分析、失信信息、诉讼信息、对外投资、股东信息、企业资讯、年报信息、分支机构、主要成员、变更记录等。</p>
             <p style="padding-top: 0px;">企业+目前已覆盖全国各省份的企业信息，是各界商业人士必备的企业征信利器。查企业，就上企业+！</p>
        </div>

         <!--<div class="settings_con" style="padding: 0px 4.6%;">
            JiaThis Button BEGIN 
            <div class="jiathis_style_m"></div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
            JiaThis Button END
        </div>
         -->
</div>
