<div class="mycenter_aboutus">
        <div class="mycenter_header">
            <ul>
                <li class="li_1" onclick="javascript :history.back(-1)">
                   <img src="../../images/icon_2.png">
                </li>
                <li class="li_2">关于我们</li>
                <br style="clear: both;" />
            </ul>
        </div>

        <div class="aboutus_ban">
             <span><img src="../../images/logo.png"></span>
             <p class="p_1">版权：1.12</p>
        </div>
        <div class="aboutus_con">
             <p>是国内最大的数据查询平台，是国内最大的数据查询平台，是国内最大的数据查询平台，是国内最大的数据查询平台，</p>
        </div>
</div>
