
<div class="mycenter_ideas">
    <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/mycenter_home"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">意见反馈</li>
            <li class="li_3">提交</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="ideas_top">
        
          <form action="#" method="post">
             <!-- <input type="text" placeholder="我们会收集您提交的请求，并在3-5个工作日回复。"/> -->
             <textarea placeholder="我们会收集您提交的请求，并在3-5个工作日回复。"></textarea>
          </form>
       
    </div>
    <div class="ideas_con">
        <!-- <p>您的联系电话</p> -->
        <form action="#" method="post">
           <input type="text" placeholder="您的联系电话"/>
        </form>
    </div>
</div>

