

<div id="mycenter_job">
    <div id="mycenter_header">
        <ul>
            <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">职业</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div id="job1">
        <p><a href="#">客户服务助理</a></p>
        <P><a href="#">售前技术支持管理</a></P>
        <p><a href="#">呼叫中心人员</a></p>
        <p><a href="#">客户投诉协调人员</a></p>
        <p><a href="#">客户服务经理</a></p>
        <p><a href="#">售前技术支持工程师</a></p>
        <p><a href="#">客户经理总监</a></p>
        <p><a href="#">客户服务专员</a></p>
        <p><a href="#">客户咨询热线</a></p>
        <p><a href="#">售后技术支持工程师</a></p>
        <p><a href="#">在线客服</a></p>
        <p><a href="#">其他</a></p>
    </div>
</div>
