
<div id="mycenter_job2">
    <div id="mycenter_header">
        <ul>
            <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">职业</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div id="job1">
        <p><a href="#">销售</a><span>|</span><a href="#">客服</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">财务</a><span>|</span><a href="#">人力资源</a><span>|</span><a href="#">行政</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>


        <p><a href="#">项目</a><span>|</span><a href="#">质量</a><span>|</span><a href="#">高级管理</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">互联网</a><span>|</span><a href="#">通信</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

         <p><a href="#">销售</a><span>|</span><a href="#">客服</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">财务</a><span>|</span><a href="#">人力资源</a><span>|</span><a href="#">行政</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>


        <p><a href="#">项目</a><span>|</span><a href="#">质量</a><span>|</span><a href="#">高级管理</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">互联网</a><span>|</span><a href="#">通信</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

         <p><a href="#">销售</a><span>|</span><a href="#">客服</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">财务</a><span>|</span><a href="#">人力资源</a><span>|</span><a href="#">行政</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>


        <p><a href="#">项目</a><span>|</span><a href="#">质量</a><span>|</span><a href="#">高级管理</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>

        <p><a href="#">互联网</a><span>|</span><a href="#">通信</a><span>|</span><a href="#">市场</a><em><a href="#"><img src="../../images/icon_1.png"></a></em></p>
    </div>
</div>
