
<div class="mycenter_home">
    <div class="myhome_ban">
       <ul class="ul_one">
            <li class="li_one"><a href="/index"><img src="../../images/icon_2.png"></a></li>
            <li class="li_two">我的</li>
            <li class="li_three"><a href="/sets"><img src="../../images/shezhi@3x.png"></a></li>
            <br style="clear: both;" />
        </ul>
    	<!-- <p style="text-align: center;">
    		<a href="/xiugai_info"><img src="../../images/morentoux.png"></a>
    		<span>{{userInfo.username}}</span>
    	</p> -->

        <p style="text-align: center;">
            <a href="/xiugai_info">
                <i><img ng-src="{{userInfo.icon?('/yiqicha/'+userInfo.icon):('/images/morentoux.png')}}" /></i>
                <em><img src="../../images/bianji-3@3x.png"></em>
            </a>
            <span>{{userInfo.name}}</span>
        </p>

    	<ul class="ul_two">
    		<li class="li_one"><img src="../../images/zhiwei@3x.png">{{userInfo.jobName}}</li>
    		<li class="li_two"><img src="../../images/icon_4.png"></li>
    		<li class="li_three">
            <em><img src="../../images/Layer-3@3x.png"></em>{{userInfo.companyName}}</li>
    		<br style="clear: both;" />
    	</ul>
    </div>
    <div class="myhome_con1">
        <a href="/myfocus">
        <ul class="ul_one">
        	<li class="li_one"><img src="../../images/guanzhu1@3x.png"></li>
        	<li class="li_two">我的关注<span><img src="../../images/icon_1.png"></span></li>
        	<br style="clear: both;" />
        </ul>
        </a>


        <!-- <a href="/system_info">
        <ul class="ul_two">
        	<li class="li_one"><img src="../../images/xitongxiaoxi3@3x.png"></li>
        	<li class="li_two">系统消息<span><img src="../../images/icon_1.png"></span></li>
        	<br style="clear: both;" />
        </ul>
        </a> -->


    </div>
     <div class="myhome_con1">
        <a href="/suggestionFeedback">
        <ul class="ul_one">
        	<li class="li_one"><img src="../../images/yijianfankui@3x.png"></li>
        	<li class="li_two">意见反馈<span><img src="../../images/icon_1.png"></span></li>
        	<br style="clear: both;" />
        </ul>
        </a>
        <a href="/questions">
        <ul class="ul_two">
        	<li class="li_one"><img src="../../images/changjianwent@3x.png"></li>
        	<li class="li_two">常见问题<span><img src="../../images/icon_1.png"></span></li>
        	<br style="clear: both;" />
        </ul>
        </a>
    </div>
<!--
    <div class="myhome_con1">
        <a href="/xiugai_info">
        <ul class="ul_two">
        	<li class="li_one"><img src="../../images/changjianwent@3x.png"></li>
        	<li class="li_two">修改资料<span><img src="../../images/icon_1.png"></span></li>
        	<br style="clear: both;" />
        </ul>
        </a>
    </div>
-->
    <div class="myhome_footer">
    	<p ng-click="logout()">退出登陆</p>
    </div>
</div>
