<div class="mycenter_myfocus">
     <div class="mycenter_header">
        <ul>
            <li class="li_1" onclick="javascript :history.back(-1)"><img src="../../images/icon_2.png"></li>
            <li class="li_2">我的关注</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="myfocus" onClick="window.location.href='/compdet'" ng-repeat="myfocus in myfocus.rows">
        <p>{{myfocus.companyName}}</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：{{myfocus.repPersion}}</li>
            <li class="li_three">{{myfocus.recordStatus}}</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div ng-if="!myfocus" style="padding:20px 0 20px 40%;">
         暂无内容
    </div>
</div>
