
<div id="mycenter_myfocus">
     <div id="mycenter_header">
        <ul>
            <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">我的关注</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div id="myfocus">
        <p>华东电网有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">存续</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>上海逸动科技有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">登记成立</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>江西网熊科技有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">开业正常营业</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>三网信息有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">已经吊销</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>华东华盛豪有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">在营</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>华东电网有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">吊销未注册</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>华东电网有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">在营</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>华东电网有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">吊销未注册</li>
            <br style="clear: both;" />
        </ul>
    </div>
     <div id="myfocus">
        <p>华东电网有限公司</p>
        <ul>
            <li class="li_one"><img src="../../images/icon_3.png" style="width: 100%;"></li>
            <li class="li_two">公司法人：马云</li>
            <li class="li_three">存续</li>
            <br style="clear: both;" />
        </ul>
    </div>
</div>
