
<div class="mycenter_questions">
    <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/mycenter_home"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">常见问题</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="questions1">
        <p class="p_1">为什么只能看50条？怎么看更多信息？</p>
        <p class="p_2">因为手机里面早就设定了某种程序，然后里面2008QQ是属于娱乐类的而不是手机里面主要的文件所以只会存到网上！</p>
    </div>
    <div class="questions1">
        <p class="p_1">为什么只能看50条？怎么看更多信息？</p>
        <p class="p_2">因为手机里面早就设定了某种程序，然后里面2008QQ是属于娱乐类的而不是手机里面主要的文件所以只会存到网上！</p>
    </div>
    <div class="questions1">
        <p class="p_1">为什么只能看50条？怎么看更多信息？</p>
        <p class="p_2">因为手机里面早就设定了某种程序，然后里面2008QQ是属于娱乐类的而不是手机里面主要的文件所以只会存到网上！</p>
    </div>
    <div class="questions1">
        <p class="p_1">为什么只能看50条？怎么看更多信息？</p>
        <p class="p_2">因为手机里面早就设定了某种程序，然后里面2008QQ是属于娱乐类的而不是手机里面主要的文件所以只会存到网上！</p>
    </div>
</div>
<script type="text/javascript">
    Q.hideHeader('.mycenter_header');
</script>
