<div class="mycenter_sets">
        <div class="mycenter_header">
            <ul>
                <li class="li_1" onclick="javascript :history.back(-1)">
                   <img src="../../images/icon_2.png">
                </li>
                <li class="li_2">设置</li>
                <br style="clear: both;" />
            </ul>
        </div>


        <div class="sets_con">
            <a href="/xiugai_mima">
                <ul>
                    <li class="li_one">修改密码</li>
                    <li class="li_two"><img src="../../images/icon_1.png"></li>
                </ul>
            </a>
           <!--  <a href="#">
                <ul>
                    <li class="li_one">推荐给好友</li>
                    <li class="li_two"><img src="../../images/icon_1.png"></li>
                </ul>
            </a> -->
            <a href="/aboutUs">
                <ul style="border-bottom: 0px;">
                    <li class="li_one">关于我们</li>
                    <li class="li_two"><img src="../../images/icon_1.png"></li>
                </ul>
            </a>
        </div>

        <div class="sets_bottom" style="position: fixed;left: 0;bottom: 0;">
             <a href="/settings">
                <ul>
                    <li class="li_one">推荐给好友</li>
                    <li class="li_two"><img src="../../images/icon_1.png"></li>
                </ul>
            </a>
        </div>
</div>
