<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>失信榜单</title>
<meta name="description" content="简介">
<meta name="keywords" content="关键字">
<link rel="stylesheet" type="text/css" href="css/styles.css"/>
<link rel="stylesheet" type="text/css" href="css/reset.css"/>

<script src=""></script>
</head>

<body>
<div id="mycenter_settings">
    <div id="settings_top">
         <div id="mycenter_header">
        <ul>
            <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">设置</li>
            <br style="clear: both;" />
        </ul>
    </div>
        <p class="p_1">版权：1.12</p>
        <p class="p_2">是国内最大的数据查询平台，是国内最大的数据查询平台，是国内最大的数据查询平台，是国内最大的数据查询平台，</p>
    </div>
    <div id="settings_con"><p>推荐给好友</p></div>
</div>
</body>
</html>