
<div class="mycenter_system">
    <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/mycenter_home"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">系统消息</li>
            <li class="li_3">一键清空</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
    <div class="system1">
        <p class="p_1">您关注的企业在北京市东城区东直门北大街0号，香港金钟街道89号力保中心</p>
        <p class="p_2">2016-03-23<span>14:27</span></p>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.mycenter_header ul .li_3').click(function(){
           $('.mycenter_system .system1').hide()
        });
    });
</script>