
<div class="mycenter_xiugaiinfo">
     <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="#"><img src="../../images/icon_2.png"></a></li>
            <li class="li_2">修改资料</li>
            <br style="clear: both;" />
        </ul>
    </div>
    <div class="xiugai_info">
         <div class="pic"><a href="#"><img src="../../images/组-2@3x.png"></a></div>
         <p class="p_1">15012345678<em>已绑定</em></p>
         <br style="clear: both;" />
         <p>修改密码</p>
         <p>姓名</p>
         <p>公司名称</p>
         <p class="p_2">职业<em><a href="#"><img src="../../images/icon_1.png"></a></em></p>
         <br style="clear: both;" />
    </div>
</div>
