<div class="mycenter_xiugaimima">
        <div class="mycenter_header">
            <ul>
                <li class="li_1" onclick="javascript :history.back(-1)">
                   <img src="../../images/icon_2.png">
                </li>
                <li class="li_2">修改密码</li>
                <li class="li_3">保存</li>
                <br style="clear: both;" />
            </ul>
        </div>

        
        <div class="xiugai_mima">
            <form action="#" method="post">
                    <input type="text" placeholder="原密码" style="padding-left:10px;"/>
                    <input type="text" placeholder="新密码（请输入6-20位密码）" style="padding-left:10px;"/>
                    <input type="text" placeholder="确认新密码" style="padding-left:10px;border-bottom: 0px;"/>
            </form>
        </div>
</div>
