
<div class="mycenter_xiugaiinfo">
     <div class="mycenter_header">
        <ul>
            <li class="li_1"><a href="/index"><img src="../../images/icon_2.png" width="50px" /></a></li>
            <li class="li_2">修改资料</li>
            <li class="li_3" ng-click="submitBtn()">保存</li>
            <div style="clear: both;"></div>
        </ul>
    </div>
    <div class="xiugai_info">
        <div>
             <div class="pic"><img src="../../images/组-2@3x.png"></div>
             <p class="p_1" style="padding-left:10px;">{{user.user.username}}<em>已绑定</em></p>
             <div style="clear: both;"></div>
        </div>
        <form action="#" method="post">
            <input type="text" placeholder="修改密码" disabled="true" style="padding-left:10px;" />
            <input type="text" placeholder="姓名" style="padding-left:10px;" ng-model="reviseUserFormData.name"/>
            <input type="text" placeholder="公司名称" style="padding-left:10px;" ng-model="reviseUserFormData.companyName"/>
            <input type="text" placeholder="职业" style="padding-left:10px;" ng-model="reviseUserFormData.job"/>
        </form>
<!--
        <a href="/job">
            <p class="p_2" style="padding-left:10px;">职业<em><img src="../../images/icon_1.png"></em></p>
        <a href="/job">
-->
        <div style="clear: both;"></div>
    </div>
</div>
